<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/css/Q1.css" type="text/css" rel="stylesheet">
    <title>sheet</title>
</head>
<body>
<div id="u1" class="drawer1" th:fragment="sheet">
    <div id="u2">
        <p class="text"><span>单选题</span></p>
    </div>
    <div id="u3" class="num_box">
        <div v-for="index in opt_box" class="ellipse" @click="jumpProblem(index)">
            <img :id="getId(index)" src="/image/u173.svg" class="image"/>
            <div class="ellipse_text">
                <p><span>{{ index }}</span></p>
            </div>
        </div>
    </div>
    <div id="u24">
        <p class="text"><span>句子改写题</span></p>
    </div>
    <div id="u25" class="num_box">
        <div v-for="index in txt_box" class="ellipse" @click="jumpProblem(index)">
            <img :id="getId(index)" src="/image/u173.svg" class="image"/>
            <div class="ellipse_text">
                <p><span>{{ index }}</span></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>