<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>选择题答题界面</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/Q1.css" type="text/css" rel="stylesheet">
    <link href="/css/index.css" type="text/css" rel="stylesheet">
    <script src="/js/vue@2.6.10.js"></script>
    <script src="/js/axios@0.18.0.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="http://mockjs.com/dist/mock.js"></script>
</head>
<body>
<div id="app">
    <div th:replace="answer_sheet::sheet"></div>
    <div id="u27">
        <button type="button" class="white_button" @click="drawer">答题卡</button>
    </div>
    <div id="u28">
        <button type="button" class="white_button" @click="handIn">交 卷</button>
    </div>
    <div id="u29" class="q_box">
        <div id="u30">
            <div id="u31">
                <p><span>题号： {{ num }} / {{ totalNum }}</span></p>
            </div>
            <div id="u32">
                <p><span>单选题</span></p>
            </div>
            <div id="u33">
                <p><span>(&nbsp;&nbsp;&nbsp;&nbsp;) {{ prob_text }}</span></p>
            </div>

            <div id="u34" class="option">
                <div id="choice-a" @click="chooseOption('a')">
                    <img id="img-a" src="/image/u173.svg" class="option_img"/>
                    <div id="u34_text" class="option_text">
                        <p class="choice"><span>A</span></p>
                    </div>
                </div>
                <div id="u34_option">
                    <p class="choice"><span>{{ options.A }}</span></p>
                </div>
            </div>
            <div id="u35" class="option">
                <div id="choice-b" @click="chooseOption('b')">
                    <img id="img-b" src="/image/u173.svg" class="option_img"/>
                    <div id="u35_text" class="option_text">
                        <p class="choice"><span>B</span></p>
                    </div>
                </div>
                <div id="u35_option">
                    <p class="choice"><span>{{ options.B }}</span></p>
                </div>
            </div>
            <div id="u36" class="option">
                <div id="choice-c" @click="chooseOption('c')">
                    <img id="img-c" src="/image/u173.svg" class="option_img"/>
                    <div id="u36_text" class="option_text">
                        <p class="choice"><span>C</span></p>
                    </div>
                </div>
                <div id="u36_option">
                    <p class="choice"><span>{{ options.C }}</span></p>
                </div>
            </div>
            <div id="u37" class="option">
                <div id="choice-d" @click="chooseOption('d')">
                    <img id="img-d" src="/image/u173.svg" class="option_img"/>
                    <div id="u37_text" class="option_text">
                        <p class="choice"><span>D</span></p>
                    </div>
                </div>
                <div id="u37_option">
                    <p class="choice"><span>{{ options.D }}</span></p>
                </div>
            </div>
        </div>
        <div id="u388">
            <el-button type="primary" size="medium" @click="nextProblem">下一题</el-button>
        </div>
    </div>
</div>
</body>
<script>
    Mock.mock("/ini", {
        "total": 25,
        "opt": 17
    });

    var app = new Vue({
        el: "#app",
        data: {
            num: 1,
            totalNum: 0,
            opt_num: 0,
            remain: -1,
            prob_list: [],
            done_list: [],
            opt_box: [],
            txt_box: [],
            is_show: 1,
            src: "",
            prob_text: "更改前",
            options_id: 0,
            options: {A: "更改前a", B: "更改前b", C: "更改前c", D: ""},
            default_img_src: "/image/u173.svg",
            chose_img_src: "/image/u173_mouseOver.svg",
            formData: {
                idx: this.num,
                finish: 0,
                choice: "",
                choice_text: ""
            },
            options_list: []
        },
        methods: {
            chooseOption: function (option) {
                if (option === 'a') {
                    document.getElementById('img-a').src = this.chose_img_src;
                    document.getElementById('img-b').src = this.default_img_src;
                    document.getElementById('img-c').src = this.default_img_src;
                    document.getElementById('img-d').src = this.default_img_src;
                    this.formData.choice = 'a';
                    this.formData.choice_text = this.options.A;
                } else if (option === 'b') {
                    document.getElementById('img-b').src = this.chose_img_src;
                    document.getElementById('img-a').src = this.default_img_src;
                    document.getElementById('img-c').src = this.default_img_src;
                    document.getElementById('img-d').src = this.default_img_src;
                    this.formData.choice = 'b';
                    this.formData.choice_text = this.options.B;
                } else if (option === 'c') {
                    document.getElementById('img-c').src = this.chose_img_src;
                    document.getElementById('img-a').src = this.default_img_src;
                    document.getElementById('img-b').src = this.default_img_src;
                    document.getElementById('img-d').src = this.default_img_src;
                    this.formData.choice = 'c';
                    this.formData.choice_text = this.options.C;
                }
                else if (option === 'd') {
                    document.getElementById('img-d').src = this.chose_img_src;
                    document.getElementById('img-a').src = this.default_img_src;
                    document.getElementById('img-b').src = this.default_img_src;
                    document.getElementById('img-c').src = this.default_img_src;
                    this.formData.choice = 'd';
                    this.formData.choice_text = this.options.D;
                }
                if (this.done_list.indexOf(this.num) === -1) {
                    this.remain = this.totalNum - (this.done_list.push(this.num));
                }
                this.formData.idx = this.prob_list[this.num-1];
                this.formData.finish = 1;
                axios.post("/postSheet", $.param(this.formData)  //引入jQuery的作用
                ).then((response) => {
                        this.$nextTick(() => {
                            this.setSheet();
                        });
                        resolve(response);
                    }
                );
            },

            drawer: function () {
                if (this.is_show === 1) {
                    $("#u1").animate({right: "-260px"});
                    this.is_show = 0;
                } else {
                    $("#u1").animate({right: "0px"});
                    this.is_show = 1;
                }
            },

            getId: function (option) {
                return "answer_" + option;
            },

            jumpProblem: function (option) {
                if (option > this.opt_num) {
                    sessionStorage.setItem('questionId', option.toString());
                    sessionStorage.setItem('isShown', this.is_show.toString());
                    sessionStorage.setItem('remainNum', this.remain.toString());
                    sessionStorage.setItem('total', this.totalNum.toString());
                    sessionStorage.setItem('opt', this.opt_num.toString());
                    sessionStorage.setItem('list', this.done_list.toString());
                    sessionStorage.setItem('optlist', this.opt_box.toString());
                    sessionStorage.setItem('txtlist', this.txt_box.toString());
                    sessionStorage.setItem('src', this.src);
                    window.location.href = "/exercise_txt";
                } else {
                    this.num = option;
                    this.refreshAnswer();
                    this.remember(option);
                    this.$nextTick(() => {
                        this.fetchProblem();
                    });
                }
            },

            nextProblem: function () {
                if (this.num < this.totalNum) {
                    if (this.num === this.opt_num) {
                        sessionStorage.setItem('questionId', (this.opt_num + 1).toString());
                        sessionStorage.setItem('isShown', this.is_show.toString());
                        sessionStorage.setItem('remainNum', this.remain.toString());
                        sessionStorage.setItem('total', this.totalNum.toString());
                        sessionStorage.setItem('opt', this.opt_num.toString());
                        sessionStorage.setItem('list', this.done_list.toString());
                        sessionStorage.setItem('optlist', this.opt_box.toString());
                        sessionStorage.setItem('txtlist', this.txt_box.toString());
                        sessionStorage.setItem('src', this.src);
                        window.location.href = "/exercise_txt";
                    } else {
                        this.num += 1;
                        this.remember(this.num);
                        this.refreshAnswer();
                        this.$nextTick(() => {
                            this.fetchProblem();
                        });
                    }
                } else {
                    this.$message({
                        type: 'info',
                        message: '已经是最后一题了'
                    });
                }
            },

            refreshAnswer: function () {
                document.getElementById('img-a').src = this.default_img_src;
                document.getElementById('img-b').src = this.default_img_src;
                document.getElementById('img-c').src = this.default_img_src;
                document.getElementById('img-d').src = this.default_img_src;
            },

            getini: function () {
                return new Promise(resolve => {
                    axios.get("/ini"
                    ).then((response) => {
                        resolve(response.data);
                    });
                })
            },

            getSheet: function () {
                return new Promise(resolve => {
                    axios.get("/getSheet"
                    ).then((response) => {
                        this.options_list = response.data.sheet_list;
                        resolve(response.data.sheet_list);
                    });
                })
            },

            //一个坑：js 执行存在异步、不按顺序；.then里的函数就是一个异步任务
            //解决：配合使用 Promise、async、await 函数

            setSheet: async function () {
                this.options_list = await this.getSheet();
                for (var i = 0; i < this.options_list.length; i++) {
                    ans = this.options_list[i];
                    document.getElementById('answer_' + ans["idx"].toString()).src = this.chose_img_src;
                }
            },

            setini: async function () {
                if (this.remain === -1) {
                    var res = await this.getini();
                    this.totalNum = res.total;
                    this.opt_num = res.opt;
                    this.remain = this.totalNum;
                    for (var j = 1; j <= this.totalNum; j++) {
                        if (j > this.opt_num) {
                            this.txt_box.push(j);
                        } else {
                            this.opt_box.push(j);
                        }
                    }
                }
            },

            fetchPaper: function () {
                return new Promise(resolve => {
                    axios.get("/getPaper"
                    ).then((response) => {
                        this.prob_list = response.data;
                        resolve(response.data);
                    });
                })
            },

            fetchProblem: async function () {
                this.prob_list = await this.fetchPaper();
                console.log(this.prob_list);
                axios.get("/getProblem?num=" + this.prob_list[this.num-1]
                // axios.get("/getProblem?num=" + this.num+10000
                ).then(response => {
                    console.log("problem 执行");
                    this.prob_text = response.data.prob_text;
                    console.log(response);
                    this.options_id = response.data.options_id;

                    axios.get("/getOptions?id=" + this.options_id
                    ).then(res => {
                        console.log("options 执行");
                        this.options.A = res.data.option_a;
                        this.options.B = res.data.option_b;
                        this.options.C = res.data.option_c;
                        this.options.D = res.data.option_d;
                    });
                });
            },

            remember: function (option) {
                axios.get("/getSheet").then((response) => {
                    for (var i = 0; i < response.data.sheet_list.length; i++) {
                        if (response.data.sheet_list[i].idx === option) {
                            if (response.data.sheet_list[i].choice === 'a') {
                                document.getElementById('img-a').src = this.chose_img_src;
                                document.getElementById('img-b').src = this.default_img_src;
                                document.getElementById('img-c').src = this.default_img_src;
                                document.getElementById('img-d').src = this.default_img_src;
                            } else if (response.data.sheet_list[i].choice === 'b') {
                                document.getElementById('img-b').src = this.chose_img_src;
                                document.getElementById('img-a').src = this.default_img_src;
                                document.getElementById('img-c').src = this.default_img_src;
                                document.getElementById('img-d').src = this.default_img_src;
                            } else if (response.data.sheet_list[i].choice === 'c') {
                                document.getElementById('img-c').src = this.chose_img_src;
                                document.getElementById('img-a').src = this.default_img_src;
                                document.getElementById('img-b').src = this.default_img_src;
                                document.getElementById('img-d').src = this.default_img_src;
                            } else if (response.data.sheet_list[i].choice === 'd') {
                                document.getElementById('img-d').src = this.chose_img_src;
                                document.getElementById('img-a').src = this.default_img_src;
                                document.getElementById('img-b').src = this.default_img_src;
                                document.getElementById('img-c').src = this.default_img_src;
                            }
                            break;
                        }
                    }
                });
            },

            handIn: function () {
                if (this.remain > 1) {
                    this.$confirm('你还有' + this.remain + '道题没完成，是否交卷？', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.$message({
                            type: 'success',
                            message: '已交卷'
                        });
                        sessionStorage.clear();
                        if (this.src === "ai")
                            window.location.href = "/practise_finish_opt";
                        else if (this.src === "test")
                            window.location.href = "/test_finish_opt";
                        else if (this.src === "lesson")
                            window.location.href = "/lesson_finish_opt";
                        else if (this.src === "wrong")
                            window.location.href = "/wrong_finish_opt";
                        else if (this.src === "recomnd")
                            window.location.href = "/recomnd_finish_opt";
                    })
                } else {
                    sessionStorage.clear();
                    if (this.src === "ai")
                        window.location.href = "/practise_finish_opt";
                    else if (this.src === "test")
                        window.location.href = "/test_finish_opt";
                    else if (this.src === "lesson")
                        window.location.href = "/lesson_finish_opt";
                    else if (this.src === "wrong")
                        window.location.href = "/wrong_finish_opt";
                    else if (this.src === "recomnd")
                        window.location.href = "/recomnd_finish_opt";
                }
            },
        },

        watch: {},

        created() {
            if (sessionStorage.getItem('questionId') !== null) {
                this.num = parseInt(sessionStorage.getItem('questionId'));
                this.is_show = parseInt(sessionStorage.getItem('isShown'));
                this.remain = parseInt(sessionStorage.getItem('remainNum'));
                this.totalNum = parseInt(sessionStorage.getItem('total'));
                this.opt_num = parseInt(sessionStorage.getItem('opt'));
                this.src = sessionStorage.getItem('src');
                this.opt_box = sessionStorage.getItem('optlist').split(',').map(Number);
                this.txt_box = sessionStorage.getItem('txtlist').split(',').map(Number);
                if (sessionStorage.getItem('list') !== "") {
                    this.done_list = sessionStorage.getItem('list').split(',').map(Number);
                }
                if (this.is_show === 0) {
                    document.getElementById("u1").className = "drawer2";
                } else {
                    document.getElementById("u1").className = "drawer1";
                }
            }
            if (window.location.search.indexOf("ai", window.location.search.indexOf("src")) > -1) {
                this.src = "ai";
                this.$message({
                    type: 'info',
                    message: this.src
                });
            } else if (window.location.search.indexOf("test", window.location.search.indexOf("src")) > -1) {
                this.src = "test";
                this.$message({
                    type: 'info',
                    message: this.src
                });
            } else if (window.location.search.indexOf("wrong", window.location.search.indexOf("src")) > -1) {
                this.src = "wrong";
                this.$message({
                    type: 'info',
                    message: this.src
                });
            } else if (window.location.search.indexOf("recomnd", window.location.search.indexOf("src")) > -1) {
                this.src = "recomnd";
                this.$message({
                    type: 'info',
                    message: this.src
                });
            } else {
                this.src = "lesson";
                this.$message({
                    type: 'info',
                    message: this.src
                });
            }
            this.$nextTick(() => {
                this.setini();
                this.fetchProblem();
            });

        },

        mounted() {
            this.$nextTick(() => {
                this.remember(this.num);
                this.setSheet();
            });
        },
    })
</script>
</html>