<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>答题界面</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/Q1.css" type="text/css" rel="stylesheet">
    <link href="/css/index.css" type="text/css" rel="stylesheet">
    <script src="/js/vue@2.6.10.js"></script>
    <script src="/js/axios@0.18.0.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
<div id="app">
    <div th:replace="answer_sheet::sheet"></div>
    <div id="u26" class="clock">
        <img src="/image/u207.svg" class="clock_img"/>
        <div id="u26_text" class="ellipse_text">
            <p><span>倒计时</span><br><span>14 min</span><br><span>59 sec</span></p>
        </div>
    </div>
    <div id="u27">
        <button type="button" class="white_button">答题卡</button>
    </div>
    <div id="u28">
        <button type="button" class="white_button">交 卷</button>
    </div>
    <div id="u29" class="q_box">
        <div id="u30">
            <div id="u31">
                <p><span>题号： {{ num }} / {{ totalNum }}</span></p>
            </div>
            <div id="u32">
                <p><span>单选题</span></p>
            </div>
            <div id="u33">
                <p><span>(&nbsp;&nbsp;&nbsp;&nbsp;) {{ prob_text }}</span></p>
            </div>

            <div id="u34" class="option">
                <div id="choice-a" @click="chooseOption('a')">
                    <img id="img-a" src="/image/u173.svg" class="option_img"/>
                    <div id="u34_text" class="option_text">
                        <p class="choice"><span>A</span></p>
                    </div>
                </div>
                <div id="u34_option">
                    <p class="choice"><span>{{ options.A }}</span></p>
                </div>
            </div>
            <div id="u35" class="option">
                <div id="choice-b" @click="chooseOption('b')">
                    <img id="img-b" src="/image/u173.svg" class="option_img"/>
                    <div id="u35_text" class="option_text">
                        <p class="choice"><span>B</span></p>
                    </div>
                </div>
                <div id="u35_option">
                    <p class="choice"><span>{{ options.B }}</span></p>
                </div>
            </div>
            <div id="u36" class="option">
                <div id="choice-c" @click="chooseOption('c')">
                    <img id="img-c" src="/image/u173.svg" class="option_img"/>
                    <div id="u36_text" class="option_text">
                        <p class="choice"><span>C</span></p>
                    </div>
                </div>
                <div id="u36_option">
                    <p class="choice"><span>{{ options.C }}</span></p>
                </div>
            </div>
        </div>
        <div id="u37">
            <button type="button" class="blue_button" @click="nextProblem">下一题</button>
        </div>
    </div>
</div>
</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            num: 1,
            totalNum: 20,
            prob_text: "更改前",
            options_id: 0,
            options: {A: "更改前a", B: "更改前b", C: "更改前c"},
            default_img_src: "/image/u173.svg",
            chose_img_src: "/image/u173_mouseOver.svg",
            formData: {
                idx: this.num,
                finish: 0,
                choice: "",
                text: ""
            },
            options_list: []
        },
        methods: {
            chooseOption: function (option) {
                if (option === 'a') {
                    document.getElementById('img-a').src = this.chose_img_src;
                    document.getElementById('img-b').src = this.default_img_src;
                    document.getElementById('img-c').src = this.default_img_src;
                    this.formData.choice = 'a';
                    this.formData.text = this.options.A;
                } else if (option === 'b') {
                    document.getElementById('img-b').src = this.chose_img_src;
                    document.getElementById('img-a').src = this.default_img_src;
                    document.getElementById('img-c').src = this.default_img_src;
                    this.formData.choice = 'b';
                    this.formData.text = this.options.B;
                } else if (option === 'c') {
                    document.getElementById('img-c').src = this.chose_img_src;
                    document.getElementById('img-a').src = this.default_img_src;
                    document.getElementById('img-b').src = this.default_img_src;
                    this.formData.choice = 'c';
                    this.formData.text = this.options.C;
                }
                this.formData.idx = this.num;
                this.formData.finish = 1;

                axios.post("/postSheet", $.param(this.formData)  //引入jQuery的作用
                ).then((response) => {
                        this.$message({
                            type: 'info',
                            message: response.data
                        });
                    }
                );

                this.setSheet();
            },

            nextProblem: function () {
                this.num += 1;
                this.refreshAnswer();
                this.$nextTick(() => {
                    this.fetchProblem();
                });
            },

            refreshAnswer: function () {
                document.getElementById('img-a').src = this.default_img_src;
                document.getElementById('img-b').src = this.default_img_src;
                document.getElementById('img-c').src = this.default_img_src;
            },

            getSheet: function () {
                return new Promise(resolve => {
                    axios.get("/getSheet"
                    ).then((response) => {
                        // console.log('response.data.sheet_list:', response.data.sheet_list);
                        this.options_list = response.data.sheet_list;
                        resolve(response.data.sheet_list);
                    });
                })
            },

            //一个坑：js 执行存在异步、不按顺序；.then里的函数就是一个异步任务
            //解决：配合使用 Promise、async、await 函数

            setSheet: async function () {
                this.options_list = await this.getSheet();
                for (var i = 0; i < this.options_list.length; i++) {
                    ans = this.options_list[i];
                    document.getElementById('answer_' + ans["idx"].toString()).src = this.chose_img_src;
                }
            },

            fetchProblem: function () {
                axios.get("/getProblem?num="+this.num,
                ).then(response => {
                    console.log("problem 执行");
                    this.prob_text = response.data.prob_text;
                    console.log(response);
                    // console.log("response.data.prob_text", response.data.prob_text);
                    // console.log("this.prob_text", this.prob_text);
                    this.options_id = response.data.options_id;

                    axios.get("/getOptions?id="+this.options_id
                    ).then(res => {
                        console.log("options 执行");
                        this.options.A = res.data.option_a;
                        this.options.B = res.data.option_b;
                        this.options.C = res.data.option_c;
                    });
                });
            }
        },

        watch: {},

        created() {
            this.$nextTick(() => {
                this.fetchProblem();
            });

        },

        mounted() {
            this.$nextTick(() => {
                this.setSheet();
            });
        },

        updated() {
            this.$nextTick(() => {
                this.setSheet();
            });
        }
    })
</script>
</html>