<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>答题界面</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/Q1.css" type="text/css" rel="stylesheet">
    <link href="/css/index.css" type="text/css" rel="stylesheet">
    <script src="/js/vue@2.6.10.js"></script>
    <script src="/js/axios@0.18.0.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
<div id="app">
    <div th:replace="answer_sheet::sheet"></div>
    <div id="u26" class="clock">
        <img src="/image/u207.svg" class="clock_img"/>
        <div id="u26_text" class="ellipse_text">
            <p><span>倒计时</span><br><span>14 min</span><br><span>59 sec</span></p>
        </div>
    </div>
    <div id="u27">
        <button type="button" class="white_button">答题卡</button>
    </div>
    <div id="u28">
        <button type="button" class="white_button" @click="handIn">交 卷</button>
    </div>
    <div id="u29" class="q_box">
        <div id="u30">
            <div id="u31">
                <p><span>题号： {{ num }} / {{ totalNum }}</span></p>
            </div>
            <div id="u32">
                <p><span>句子改写题</span></p>
            </div>
            <div id="u33">
                <p><span>Grace and Helen are sisters.</span><br><span>(Yes/No Question; Positive Answer)</span></p>
            </div>
            <div id="u34" class="option">
                <el-input v-model="txt1" id="text1" :disabled="false" prefix-icon="">
                </el-input>
                <i id="icon1" class=""></i>
            </div>
            <div id="u35" class="option">
                <el-input v-model="txt2" id="text2" :disabled="false" prefix-icon="">
                </el-input>
            </div>

        </div>
        <div id="u37">
            <el-button @click="modify">修改</el-button>
            <el-button type="primary" @click="confirm" style="margin-left: 20px">确认</el-button>
            <el-button type="primary" size="medium" @click="nextProblem">下一题</el-button>
        </div>
    </div>
</div>
</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            num: 17,
            totalNum: 20,
            remain: 17,
            answers: {A: "It", B: "She", C: "He"},
            default_img_src: "/image/u173.svg",
            chose_img_src: "/image/u173_mouseOver.svg",
            formData: {
                idx: this.num,
                finish: 0,
                choice: "",
                text: ""
            },
            answers_list: [],
            txt1: "",
            txt2: ""

        },
        methods: {
            nextProblem: function () {
                window.location.href = "/exercise/17";
            },

            confirm: function() {
                $("#text1").prop("disabled", true);
                $("#text2").prop("disabled", true);
                $("#icon1").prop("class", "el-icon-lock");
                $("#icon2").prop("class", "el-icon-lock");

                this.formData.idx = this.num;
                this.formData.choice = "none";
                this.formData.finish = 1;
                this.formData.text = this.txt1+'\n'+this.txt2;

                console.log(this.formData);
                axios.post("/sheet/post", $.param(this.formData)
                ).then((response) => {
                    this.$message({
                        type: 'info',
                        message: response.data
                    });
                });
                this.setSheet();
            },

            modify: function() {
                $("#text1").prop("disabled", false);
                $("#text2").prop("disabled", false);
                $("#icon1").prop("class", "");
                $("#icon2").prop("class", "");
            },

            handIn: function () {
                this.$confirm('你还有'+this.remain+'道题没完成，是否交卷？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$message({
                        type: 'success',
                        message: '已交卷'
                    });
                    window.location.href = "/home";
                })
            },

            nextProblem: function() {
                this.confirm();
            },

            getSheet: function () {
                return new Promise(resolve => {
                    axios.get("/sheet/get"
                    ).then((response) => {
                        // console.log('response.data.sheet_list:', response.data.sheet_list);
                        this.answers_list = response.data.sheet_list;
                        resolve(response.data.sheet_list);
                    });
                })
            },

            setSheet: async function () {
                this.answers_list = await this.getSheet();
                // console.log("开始执行变色",'当前', this.answers_list);
                for (var i=0; i<this.answers_list.length; i++) {
                    ans = this.answers_list[i];
                    document.getElementById('answer_'+ans["idx"].toString()).src = this.chose_img_src;
                }
            },

            mounted: function() {
                this.setSheet();
            }
        }
    })
</script>
</html>