<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>双周测</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/week_test.css" type="text/css" rel="stylesheet">
    <script src="/js/vue@2.6.10.js"></script>
    <script src="/js/axios@0.18.0.min.js"></script>
</head>
<body>
<div th:replace="include::sidebar"></div>
<div id="u3" class="module_name">
    <p><span>双周测</span></p>
</div>
<div id="u4" class="level_info">
    <p><span>当前等级</span><br><span>SMT Lev.3</span></p>
</div>
<div id="u5" class="">
    <p><span>当前双周：No.7 - No.8 周</span></p>
</div>
<div id="u6" class="table">
    <table id="u6_table" cellpadding="10">
        <tr id="row1">
            <td id="row1_col1">练习</td>
            <td id="row1_col2">开放时间</td>
            <td id="row1_col3">分数</td>
        </tr>
        <tr id="row2">
            <td id="row2_col1">No.7 - No.8 周</td>
            <td id="row2_col2">2020.8.12 08:00</td>
            <td id="row2_col3">
                <button type="button" class="button_close">未开放</button>
            </td>
        </tr>
        <tr id="row3">
            <td id="row3_col1">No.5 - No.6 周</td>
            <td id="row3_col2">2020.7.29 08:00</td>
            <td id="row3_col3">92&nbsp;<button type="button" class="button_open">详情</button>
            </td>
        </tr>
        <tr id="row4">
            <td id="row4_col1">No.3 - No.4 周</td>
            <td id="row4_col2">2020.7.15 08:00</td>
            <td id="row4_col3">75&nbsp;<button type="button" class="button_open">详情</button>
            </td>
        </tr>
        <tr id="row5">
            <td id="row5_col1">No.1 - No.2 周</td>
            <td id="row5_col2">2020.7.1 08:00</td>
            <td id="row5_col3">81&nbsp;<button type="button" class="button_open">详情</button>
            </td>
        </tr>
    </table>
</div>
</body>
<script>
    var app = new Vue({
        el: "app",
        data: {
            massage: "666"
        },

        mounted: function () {
            document.getElementById('week_test').style.backgroundColor = '#bebebe';
            console.log("come");
        }
    })
</script>
</html>