<!DOCTYPE html>
<html>
<head>
    <title>欢迎界面</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/welcome.css" type="text/css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="u0" class="heading">
        <div id="u0_text" class="text">
            <p><span>Welcome</span></p>
        </div>
    </div>
    <div id="u1" class="heading">
        <div id="u1_text" class="text">
            <p><span>欢迎来到SMT刷题平台</span></p>
        </div>
    </div>
    <div id="u2">
        <div id="u3" class="ellipse">
            <img id="u3_img" src="/image/ellipse.svg" />
            <div id="u3_text" class="ellipse_text">
                <p><span>15万+</span></p>
                <p><span>精选习题</span></p>
            </div>
        </div>
        <div id="u4" class="ellipse">
            <img id="u4_img" src="/image/ellipse.svg" />
            <div id="u4_text" class="ellipse_text">
                <p><span>100%</span></p>
                <p><span>详细解答</span></p>
            </div>
        </div>
        <div id="u5" class="ellipse">
            <img id="u5_img" src="/image/ellipse.svg" />
            <div id="u5_text" class="ellipse_text">
                <p><span>AI智能</span></p>
                <p><span>自适应</span></p>
            </div>
        </div>
        <div id="u6" class="ellipse">
            <img id="u6_img" src="/image/ellipse.svg" />
            <div id="u6_text" class="ellipse_text">
                <p><span>100%</span></p>
                <p><span>贴合教材</span></p>
            </div>
        </div>
    </div>
    <div id="u7">
        <div id="u8" class="func_button">
            <button id="u8_button" type="button">家长登录</button>
        </div>
        <div id="u9" class="func_button">
            <button id="u9_button" type="button">教师登录</button>
        </div>
        <div id="u10" class="func_button">
            <button id="u10_button" type="button">用户注册</button>
        </div>
    </div>
    <div id="u11">
        <button id="u11_button" type="button">学生登录</button>
    </div>
</body>
</html>