<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>选择题答题界面</title>
    <meta http-equiv="content-type" content="text/html charset=utf-8"/>
    <link href="/css/demo_marked.css" type="text/css" rel="stylesheet" charset="utf-8">
    <link href="/css/index.css" type="text/css" rel="stylesheet" charset="utf-8">
    <script src="/js/vue@2.6.10.js"></script>
    <script src="/js/axios@0.18.0.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
<div id="app">
    <div id="main">
            <div id="header">
                <div id="back" @click="goBack">
                    <i class="el-icon-d-arrow-left"></i>
                    <p><span>Back</span></p>
                </div>
                <div id="container1">
                    <div id="heading">
                        <p id="heading1"><span>Level {{ level }} Lesson {{ lesson }}</span></p>
                        <p id="heading2"><span>课课练</span></p>
                    </div>
                </div>
                <div id="container2">
                    <div id="heading3">
                        <p id="time"><span>完成时间：{{ time }}</span></p>
                        <p id="score"><span>你的得分：{{ score }} </span></p>
                        <p id="average"><span>本次练习平均分：{{ average }}</span></p>
                        <p id="handle"><span>本次练习考点的掌握程度：{{ handle }}%</span></p>
                    </div>
                </div>
                <div id="container3">
                    <div id="tag">
                        <div v-for="num in wrong_list" :id="getBox(num)">
                            <el-button :id="getButton(num)" style="background-color: #C00000;" circle @click="jumpProblem(num)">{{ num }}</el-button>
                        </div>
                        <div id="correct_container" style="display: none;">
                            <div v-for="num in correct_list" :id="getBox(num)">
                                <el-button :id="getButton(num)" style="background-color: #339900;cursor: pointer;" circle @click="jumpProblem(num)">{{ num }}</el-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="question_card">
                <div id="question_area">
                    <div id="question_info">
                        <div id="container4">
                            <p><span>Q {{ num }}</span></p>
                            <p id="show_result">{{ is_correct }}&nbsp;&nbsp;&nbsp;</p>
                            <div id="check_analysis" @click="showAnalysis">
                                <i class="el-icon-search"></i><p><span>查看解析</span></p>
                            </div>
                        </div>
                    </div>
                    <div id="question_text">
                        <p><span>{{ prob_text }}</span></p>
                    </div>
                    <div id="opt_part">
                        <div id="option_A" class="option">
                            <el-button id="img-a" circle disabled>A</el-button>
                            <div id="question_a_text">
                                <p class="choice"><span>{{ options.A }}</span></p>
                            </div>
                        </div>
                        <div id="option_B" class="option">
                            <el-button id="img-b" circle disabled>B</el-button>
                            <div id="question_b_text">
                                <p class="choice"><span>{{ options.B }}</span></p>
                            </div>
                        </div>
                        <div id="option_C" class="option">
                            <el-button id="img-c" circle disabled>C</el-button>
                            <div id="question_c_text">
                                <p class="choice"><span>{{ options.C }}</span></p>
                            </div>
                        </div>
                        <div id="option_D" class="option">
                            <el-button id="img-d" circle disabled>D</el-button>
                            <div id="question_d_text">
                                <p class="choice"><span>{{ options.D }}</span></p>
                            </div>
                        </div>
                    </div>
                    <div id="txt_part" style="display: none;">
                        <p id="prob_tip"><span></span></p>
                        <div id="input_box">
                            <div v-for="input in input_num" class="input_result">
                                <p class="submit_ans"><span style="color: #330099;font-family: 'TW Cen MT Condensed';font-weight: 900;font-size: 24px;">Your Answer {{ input + 1 }}: </span><span> {{ txt[input] }}</span></p>
                                <p class="correct_ans"><span style="color: #006600;font-family: 'TW Cen MT Condensed';font-weight: 900;font-size: 24px;">Correct Answer {{ input + 1 }}: </span><span> {{ correct_txt[input] }}</span></p>
                            </div>
                        </div>
                    </div>
                    <el-button type="primary" id="last_button" round @click="lastProblem" style="display: none;"><i class="el-icon-caret-left"></i>上一题</el-button>
                    <el-button type="primary" id="next_button" round @click="nextProblem" style="display: none;">下一题<i class="el-icon-caret-right"></i></el-button>
                </div>
                <div id="analysis_area">
                    <div id="analysis_text" style="display: none;">
                        <p><span>本题解析：{{ analysis_list[num - 1] }}</span></p>
                    </div>
                </div>
                <div id="show_more" style="display: none;">
                    <el-button id="icon_container" circle @click="showMore"><i class="el-icon-view"></i></el-button>
                    <p id="show_more_text"><span>&nbsp;查看做对题目解析</span></p>
                </div>
            </div>
            <div id="footer">
                <div id="container5">
                    <el-button id="again_button" type="primary" round @click="againExercise">再来一轮</el-button>
                    <el-button id="recomnd_button" type="primary" round @click="recomndExercise">推荐练习</el-button>
                    <el-button id="wrong_button" type="primary" round @click="wrongExercise">错题练习</el-button>
                </div>
            </div>
    </div>
</div>
</body>
<script>
    function setCookie(cname,cvalue) {
        document.cookie = cname + "=" + cvalue + "; ";
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) 
        {
            var c = ca[i].trim();
            if (c.indexOf(name) === 0)
                return c.substring(name.length,c.length);
        }
        return "";
    }
    
    var app = new Vue({
        el: "#app",
        data: {
            time: '',
            handle: 0,
            average: 0,
            score: 0,
            level: 0,
            lesson: 0,
            num: 0,
            totalNum: 0,
            opt_num: 0,
            id: 0,    //全局的 this.id 指的是一份试卷 sheetTemp 的 id
            is_show: 0,
            prob_list: [],
            opt_box: [],
            txt_box: [],
            src: "",
            is_correct: '',
            prob_text: "test",
            options_id: 0,
            options: {A: "A", B: "B", C: "C", D: "D"},
            formData: {
                idx: this.num,
                finish: 0,
                choice: "",
                choice_text: ""
            },
            setting: {
                src: "",
                sys: "",
                lev: 0,
                probNum: 0
            },
            options_list: [],
            answers_list: [],
            txt: [],
            input_num: [],
            ans_list: [],
            submit_list: [],
            results_list: [],
            analysis_list: [],
            point_list: [],
            correct_txt: [],
            wrong_list: [],
            correct_list: [],
            show_analysis: [],
        },
        methods: {
            goBack: function () {
                window.location.href = "/start";
            },

            recomndExercise: function () {
                this.setting.src = "recomnd";
                this.setting.sys = this.id.toString();
                this.setting.lev = this.level;
                this.setting.probNum = 20;
                axios.post("/postSetting",$.param(this.setting)
                ).then((response) => {
                    console.log("已设置参数: ", response.data);
                });
                sessionStorage.clear();
                sessionStorage.setItem("level",this.level.toString());
                sessionStorage.setItem("lesson",this.lesson.toString());
                window.location.replace("/demo?src=recomnd");
            },

            wrongExercise: function () {
                this.setting.src = "wrong";
                this.setting.sys = "";
                this.setting.lev = 0;
                this.setting.probNum = 0;
                axios.post("/postSetting",$.param(this.setting)
                ).then((response) => {
                    console.log("已设置参数: ", response.data);
                });
                sessionStorage.clear();
                window.location.replace("/demo?src=wrong");
            },

            againExercise: function () {
                this.setting.src = "wrong";
                this.setting.sys = "";
                this.setting.lev = 0;
                this.setting.probNum = 0;
                axios.post("/postSetting",$.param(this.setting)
                ).then((response) => {
                    console.log("已设置参数: ", response.data);
                });
                sessionStorage.clear();
                window.location.replace("/demo?src=wrong");
            },

            refreshAnswer: function () {
                document.getElementById('img-a').style.background = "white";
                document.getElementById('img-a').style.color = "black";
                document.getElementById('img-b').style.background = "white";
                document.getElementById('img-b').style.color = "black";
                document.getElementById('img-c').style.background = "white";
                document.getElementById('img-c').style.color = "black";
                document.getElementById('img-d').style.background = "white";
                document.getElementById('img-d').style.color = "black";
            },

            getIndex: function (option) {
                return "text" + (option + 1);
            },

            getId: function (option) {
                return "answer_" + option;
            },

            getButton: function (option) {
                return "num" + option;
            },

            getSingleResult: function (option) {
                return "singleResult" + (option + 1);
            },

            getBox: function (option) {
                return "box" + option;
            },

            showAnalysis: function () {
                $("#analysis_text").fadeIn(2000);
                this.show_analysis[this.num - 1] = 1;
                sessionStorage.setItem('showAnalysis',this.show_analysis);
                setTimeout(() => {
                    if(this.num !== this.wrong_list[this.wrong_list.length - 1])
                        document.getElementById("next_button").style.display = "";
                    else if(this.is_show === 0) {
                        if(this.correct_list.length !== 0)
                            document.getElementById("show_more").style.display = "flex";
                    }
                    document.getElementById("num" + this.num).style.cursor = "pointer";
                }, 300);
                this.store();
            },

            showMore: function () {
                document.getElementById("correct_container").style.display = "";
                document.getElementById("show_more").style.display = "none";
                this.is_show = 1;
                sessionStorage.setItem("isShow",this.is_show);
                document.getElementById("next_button").style.display = "";
                this.jumpProblem(this.correct_list[0]);
            },

            showAlready: function () {
                console.log(this.num);
                console.log(this.wrong_list);
                console.log(this.correct_list);
                console.log(this.correct_list.indexOf(this.num));
                if((this.show_analysis[this.num - 1] === 1) || (this.correct_list.indexOf(this.num) > -1)) {
                    console.log("Yes");
                    $("#analysis_text").fadeIn("fast");
                }
                sessionStorage.setItem('showAnalysis',this.show_analysis);
                setTimeout(() => {
                    for(var i = 1;i <= this.totalNum;i++) {
                        if(this.show_analysis[i - 1] === 1) {
                            document.getElementById("num" + i).style.cursor = "pointer";
                        }
                    }
                    if(this.show_analysis[this.num - 1] === 1 && this.num !== this.wrong_list[this.wrong_list.length - 1])
                        document.getElementById("next_button").style.display = "";
                    if(this.show_analysis[this.wrong_list[this.wrong_list.length - 1] - 1] === 1) {
                        if(this.is_show === 0 && this.correct_list.length !== 0)
                            document.getElementById("show_more").style.display = "flex";
                    }
                    if(this.is_show === 1 && this.num !== this.correct_list[this.correct_list.length - 1]) {
                        document.getElementById("next_button").style.display = "";
                    }
                }, 500);
                this.store();
            },

            jumpProblem: function (option) {
                if(this.show_analysis[option - 1] === 1) {
                    if(this.num <= this.opt_num && option > this.opt_num){
                        document.getElementById("box" + this.num).style.borderBottom = "none";
                        document.getElementById('opt_part').style.display = "none";
                        document.getElementById('txt_part').style.display = "";
                        document.getElementById("box" + option).style.borderBottom = "3px solid yellow";
                    }else if(this.num <= this.opt_num && option <= this.opt_num){
                        document.getElementById("box" + this.num).style.borderBottom = "none";
                        document.getElementById("box" + option).style.borderBottom = "3px solid yellow";
                        this.refreshAnswer();
                    }else if(this.num > this.opt_num && option <= this.opt_num){
                        document.getElementById("box" + this.num).style.borderBottom = "none";
                        document.getElementById('opt_part').style.display = "";
                        document.getElementById('txt_part').style.display = "none";
                        document.getElementById("box" + option).style.borderBottom = "3px solid yellow";
                        this.refreshAnswer();
                    }else if(this.num > this.opt_num && option > this.opt_num){
                        document.getElementById("box" + this.num).style.borderBottom = "none";
                        document.getElementById("box" + option).style.borderBottom = "3px solid yellow";
                    }
                    this.num = option;
                    if(this.num === this.wrong_list[0])
                        document.getElementById("last_button").style.display = "none";
                    else
                        document.getElementById("last_button").style.display = "";
                    document.getElementById("analysis_text").style.display = "none";
                    if((this.num === this.wrong_list[this.wrong_list.length - 1] && this.is_show === 0) || this.num === this.correct_list[this.correct_list.length - 1])
                        document.getElementById("next_button").style.display = "none";
                    else
                        document.getElementById("next_button").style.display = "";
                    this.store();
                    this.$nextTick(() => {
                        this.fetchProblem();
                        this.showResult();
                        this.showAlready();
                    });
                }else if(this.correct_list.indexOf(option) > -1) {
                    if(this.num <= this.opt_num && option > this.opt_num){
                        document.getElementById("box" + this.num).style.borderBottom = "none";
                        document.getElementById('opt_part').style.display = "none";
                        document.getElementById('txt_part').style.display = "";
                        document.getElementById("box" + option).style.borderBottom = "3px solid yellow";
                    }else if(this.num <= this.opt_num && option <= this.opt_num){
                        document.getElementById("box" + this.num).style.borderBottom = "none";
                        document.getElementById("box" + option).style.borderBottom = "3px solid yellow";
                        this.refreshAnswer();
                    }else if(this.num > this.opt_num && option <= this.opt_num){
                        document.getElementById("box" + this.num).style.borderBottom = "none";
                        document.getElementById('opt_part').style.display = "";
                        document.getElementById('txt_part').style.display = "none";
                        document.getElementById("box" + option).style.borderBottom = "3px solid yellow";
                        this.refreshAnswer();
                    }else if(this.num > this.opt_num && option > this.opt_num){
                        document.getElementById("box" + this.num).style.borderBottom = "none";
                        document.getElementById("box" + option).style.borderBottom = "3px solid yellow";
                    }
                    this.num = option;
                    document.getElementById("last_button").style.display = "";
                    if(this.num !== this.correct_list[this.correct_list.length - 1])
                        document.getElementById("next_button").style.display = "";
                    else
                        document.getElementById("next_button").style.display = "none";
                    document.getElementById("analysis_text").style.display = "";
                    this.store();
                    this.$nextTick(() => {
                        this.fetchProblem();
                        this.showResult();
                    });
                }
            },

            lastProblem: function () {
                if(this.wrong_list.indexOf(this.num) > -1) {
                    var tempIndex = this.wrong_list.indexOf(this.num);
                    if(this.num > this.wrong_list[0]){
                        if(this.num > this.opt_num && this.wrong_list[tempIndex - 1] <= this.opt_num){
                            document.getElementById("box" + this.num).style.borderBottom = "none";
                            this.num = this.wrong_list[tempIndex - 1];
                            document.getElementById('opt_part').style.display = "";
                            document.getElementById('txt_part').style.display = "none";
                            document.getElementById("box" + this.num).style.borderBottom = "3px solid yellow";
                            this.refreshAnswer();
                        }else if(this.num > this.opt_num) {
                            document.getElementById("box" + this.num).style.borderBottom = "none";
                            this.num = this.wrong_list[tempIndex - 1];
                            document.getElementById("box" + this.num).style.borderBottom = "3px solid yellow";
                        }else {
                            document.getElementById("box" + this.num).style.borderBottom = "none";
                            this.num = this.wrong_list[tempIndex - 1];
                            document.getElementById("box" + this.num).style.borderBottom = "3px solid yellow";
                            this.refreshAnswer();
                        }
                        if(this.num === this.wrong_list[0])
                            document.getElementById("last_button").style.display = "none";
                        document.getElementById("analysis_text").style.display = "none";
                        document.getElementById("next_button").style.display = "";
                        this.store();
                        this.$nextTick(() => {
                            this.fetchProblem();
                            this.showResult();
                            this.showAlready();
                            console.log(this.show_analysis);
                        });
                    }
                    else {
                        this.$message({
                            type: 'info',
                            message: '这是第一道错题'
                        });
                    }
                }else {
                    var tempIndex = this.correct_list.indexOf(this.num);
                    if(this.num > this.correct_list[0]){
                        if(this.num > this.opt_num && this.correct_list[tempIndex - 1] <= this.opt_num){
                            document.getElementById("box" + this.num).style.borderBottom = "none";
                            this.num = this.correct_list[tempIndex - 1];
                            document.getElementById('opt_part').style.display = "";
                            document.getElementById('txt_part').style.display = "none";
                            document.getElementById("box" + this.num).style.borderBottom = "3px solid yellow";
                            this.refreshAnswer();
                        }else if(this.num > this.opt_num) {
                            document.getElementById("box" + this.num).style.borderBottom = "none";
                            this.num = this.correct_list[tempIndex - 1];
                            document.getElementById("box" + this.num).style.borderBottom = "3px solid yellow";
                        }else {
                            document.getElementById("box" + this.num).style.borderBottom = "none";
                            this.num = this.correct_list[tempIndex - 1];
                            document.getElementById("box" + this.num).style.borderBottom = "3px solid yellow";
                            this.refreshAnswer();
                        }
                        if(this.wrong_list === [])
                            document.getElementById("last_button").style.display = "none";
                        document.getElementById("analysis_text").style.display = "none";
                        document.getElementById("next_button").style.display = "";
                        this.store();
                        this.$nextTick(() => {
                            this.fetchProblem();
                            this.showResult();
                            this.showAlready();
                        });
                    }
                    else {
                        this.jumpProblem(this.wrong_list[this.wrong_list.length - 1]);
                    }
                }
                
            },

            nextProblem: function () {
                if(this.wrong_list.indexOf(this.num) > -1) {
                    var len = this.wrong_list.length - 1;
                    var tempIndex = this.wrong_list.indexOf(this.num);
                    document.getElementById("last_button").style.display = "";
                    if(this.num < this.wrong_list[len]){
                        if(this.num <= this.opt_num && this.wrong_list[tempIndex + 1] > this.opt_num){
                            document.getElementById("box" + this.num).style.borderBottom = "none";
                            this.num = this.wrong_list[tempIndex + 1];
                            document.getElementById('opt_part').style.display = "none";
                            document.getElementById('txt_part').style.display = "";
                            document.getElementById("box" + this.num).style.borderBottom = "3px solid yellow";
                        }else if(this.num < this.opt_num) {
                            document.getElementById("box" + this.num).style.borderBottom = "none";
                            this.num = this.wrong_list[tempIndex + 1];
                            document.getElementById("box" + this.num).style.borderBottom = "3px solid yellow";
                            this.refreshAnswer();
                        }else {
                            document.getElementById("box" + this.num).style.borderBottom = "none";
                            this.num = this.wrong_list[tempIndex + 1];
                            document.getElementById("box" + this.num).style.borderBottom = "3px solid yellow";
                        }
                        if(this.show_analysis[this.num - 1] === 0 || this.num === this.wrong_list[len]) {
                            document.getElementById("next_button").style.display = "none";
                        }
                        document.getElementById("analysis_text").style.display = "none";
                        this.store();
                        this.$nextTick(() => {
                            this.fetchProblem();
                            this.showResult();
                            if(this.show_analysis[this.num - 1] === 1) {
                                this.showAlready();
                            }
                        });
                    }
                    else {
                        this.jumpProblem(this.correct_list[0]);
                    }
                }else {
                    var len = this.correct_list.length - 1;
                    var tempIndex = this.correct_list.indexOf(this.num);
                    document.getElementById("last_button").style.display = "";
                    if(this.num < this.correct_list[len]){
                        if(this.num <= this.opt_num && this.correct_list[tempIndex + 1] > this.opt_num){
                            document.getElementById("box" + this.num).style.borderBottom = "none";
                            this.num = this.correct_list[tempIndex + 1];
                            document.getElementById('opt_part').style.display = "none";
                            document.getElementById('txt_part').style.display = "";
                            document.getElementById("box" + this.num).style.borderBottom = "3px solid yellow";
                        }else if(this.num < this.opt_num) {
                            document.getElementById("box" + this.num).style.borderBottom = "none";
                            this.num = this.correct_list[tempIndex + 1];
                            document.getElementById("box" + this.num).style.borderBottom = "3px solid yellow";
                            this.refreshAnswer();
                        }else {
                            document.getElementById("box" + this.num).style.borderBottom = "none";
                            this.num = this.correct_list[tempIndex + 1];
                            document.getElementById("box" + this.num).style.borderBottom = "3px solid yellow";
                        }
                        if(this.num === this.correct_list[len]) {
                            document.getElementById("next_button").style.display = "none";
                        }
                        document.getElementById("analysis_text").style.display = "none";
                        this.store();
                        this.$nextTick(() => {
                            this.fetchProblem();
                            this.showResult();
                            this.showAlready();
                        });
                    }
                    else {
                        this.$message({
                            type: 'info',
                            message: '已经是最后一题了'
                        });
                    }
                }
            },

            getSheet: function () {
                return new Promise((resolve) => {
                    axios.get("/getJudgeDetail?id=" + this.id
                    ).then((response) => {
                        resolve(response.data);
                    });
                })
            },

            setini: async function () {
                var res = await this.getSheet();
                this.totalNum = res.sheet_list.length;
                if(this.show_analysis.length === 0) {
                    this.show_analysis = new Array(this.totalNum).fill(0);
                }
                this.opt_num = res.opt_num;
                for (var i = 1; i <= this.totalNum; i++) {
                    if(i > this.opt_num){
                        this.txt_box.push(i);
                    }else {
                        this.opt_box.push(i);
                    }
                }
                if(this.num <= this.opt_num) {
                    document.getElementById('opt_part').style.display = "";
                    document.getElementById('txt_part').style.display = "none";
                }else {
                    document.getElementById('opt_part').style.display = "none";
                    document.getElementById('txt_part').style.display = "";
                }
                if(this.is_show === 1) {
                    document.getElementById("correct_container").style.display = "";
                    document.getElementById("show_more").style.display = "none";
                }
            },

            getResult: function () {
                var mode = "";
                if(this.src === "test" || this.src === "ai") {
                    mode = "Ai";
                }else if(this.src === "recomnd" || this.src === "wrong") {
                    mode = "Extra";
                }else if(this.src === "lesson") {
                    mode = "Lesson";
                }
                return new Promise((resolve) => {
                    axios.get("/getComment" + mode + "?id=" + this.id
                    ).then((response) => {
                        resolve(response.data);
                    });
                })
            },
            
            setSheet: async function () {
                this.setini();
                var sheet = await this.getSheet();
                var result = await this.getResult();
                this.time = result.time;
                if(result.hasOwnProperty('level')) {
                    this.level = result.level;
                }
                if(result.hasOwnProperty('lesson')) {
                    this.lesson = parseInt(result.lesson);
                }
                if(result.hasOwnProperty('score')) {
                    this.score = result.score;
                }
                this.handle = result.handle_rate;
                this.average = result.avg_score;
                this.prob_list = sheet.num_list;
                this.wrong_list = [];
                this.correct_list = [];
                for (var i = 0; i < sheet.sheet_list.length; i++) {
                    var cur_problem = sheet.sheet_list[i];
                    if(cur_problem.eval_res === 1) {   // 正确
                        this.results_list.push(1);
                            this.correct_list.push(i + 1);
                    } else {                //未做
                        this.results_list.push(0);
                        //“没做”体现在答题结果上也应属于错误的一种
                            this.wrong_list.push(i + 1);
                    }
                    this.ans_list.push(cur_problem.ans);
                    this.analysis_list.push(cur_problem.analysis);
                    this.point_list.push(cur_problem.point);
                    if(cur_problem.choice === 'none'){
                        this.submit_list.push(cur_problem.choice_text);
                    }else {
                        this.submit_list.push(cur_problem.choice);
                    }
                }
                if(this.wrong_list === []) {
                    this.num = 1;
                    //************8
                }else {
                    if(this.num === 0)
                        this.num = this.wrong_list[0];
                    this.fetchProblem();
                    this.showResult();
                    this.store();
                }
                if(this.num !== this.wrong_list[0])
                    document.getElementById("last_button").style.display = "";
            },

            fetchProblem: async function () {
                if(this.num <= this.opt_num) {
                    var prob = await axios.get("/getProblem?num="+this.prob_list[this.num-1].toString());
                    this.prob_text = prob.data.prob_text;
                    this.options_id = prob.data.options_id;
                    var option = await axios.get("/getOptions?id="+this.options_id);
                    this.options.A = option.data.option_a;
                    this.options.B = option.data.option_b;
                    this.options.C = option.data.option_c;
                    if(option.data.hasOwnProperty('option_d') && (option.data.option_d !== null)) {
                        this.options.D = option.data.option_d;
                        document.getElementById('option_D').style.display = "";
                    }else {
                        this.options.D = "";
                        document.getElementById('option_D').style.display = "none";
                    }
                    document.getElementById("box" + this.num).style.borderBottom = "3px solid yellow";
                }else {
                    this.txt = [];
                    var prob = await axios.get("/getProblem?num="+this.prob_list[this.num-1].toString());
                    this.prob_text = prob.data.prob_text;
                    for(var i = 0;i < 2;i++) {
                        this.txt.push("");
                    }
                    this.input_num = [...Array(2).keys()];
                    this.prob_text = prob.data.prob_text;
                    if(this.prob_text.indexOf("Negative") > -1){
                        document.getElementById("prob_tip").innerHTML = "改写句子：改写成疑问句+回答，否定回答"
                    }
                    else if(prob.data.prob_text.indexOf("Positive") > -1){
                        document.getElementById("prob_tip").innerHTML = "改写句子：改写成疑问句+回答，肯定回答"
                    }
                    document.getElementById("box" + this.num).style.borderBottom = "3px solid yellow";
                }
            },

            showResult: function () {
                if(this.num <= this.opt_num) {
                    this.refreshAnswer();
                    if(this.results_list[this.num - 1] === 1) {
                        this.is_correct = 'Correct';
                        document.getElementById('show_result').style.color = "#409EFF";
                        document.getElementById('img-' + this.ans_list[this.num - 1].toLowerCase()).style.background = "#409EFF";
                        document.getElementById('img-' + this.ans_list[this.num - 1].toLowerCase()).style.color = "white";
                    }
                    else {
                        var subChoice = this.submit_list[this.num - 1];
                        if(subChoice !== null){
                            this.is_correct = 'Wrong';
                            document.getElementById('img-' + subChoice.toLowerCase()).style.background = "crimson";
                            document.getElementById('img-' + subChoice.toLowerCase()).style.color = "white";
                        }
                        else this.is_correct = 'Not Finished';
                        document.getElementById('show_result').style.color = "red";
                        document.getElementById('img-' + this.ans_list[this.num - 1].toLowerCase()).style.background = "#409EFF";
                        document.getElementById('img-' + this.ans_list[this.num - 1].toLowerCase()).style.color = "white";
                    }
                }else {
                    var subText = this.submit_list[this.num - 1];
                    this.correct_txt = this.ans_list[this.num - 1].split("\n");
                    this.correct_txt.shift();
                    if(subText === null){
                        this.is_correct = 'Not Finished';
                        document.getElementById('show_result').style.color = "red";
                    } else {
                        this.txt = subText.split("$");
                        if(this.results_list[this.num - 1] === 1) {
                            this.is_correct = 'Correct';
                            document.getElementById('show_result').style.color = "#409EFF";
                        }
                        else {
                            this.is_correct = 'Wrong';
                            document.getElementById('show_result').style.color = "red";
                        }
                    }
                }
            },

            store: function () {
                sessionStorage.setItem('questionId',this.num.toString());
                sessionStorage.setItem('total',this.totalNum.toString());
                sessionStorage.setItem('opt',this.opt_num.toString());
                sessionStorage.setItem('optlist',this.opt_box.toString());
                sessionStorage.setItem('txtlist',this.txt_box.toString());
                sessionStorage.setItem('problist',this.prob_list.toString());
                sessionStorage.setItem('src',this.src);
                sessionStorage.setItem('id',this.id);
                sessionStorage.setItem('showAnalysis',this.show_analysis);
                sessionStorage.setItem('isShow',this.is_show);
                sessionStorage.setItem('wronglist',this.wrong_list);
                sessionStorage.setItem('correctlist',this.correct_list);
            },
        },

        created() {
            if(localStorage.getItem('SMTusername') !== null) {
                if(getCookie(localStorage.getItem('SMTusername')) === "") {
                    localStorage.clear();
                    window.location.href = '/login';
                }
            }else {
                window.location.href = '/login';
            }
        },

        mounted() {
            if(window.location.search.indexOf('recomnd') > -1) {
                document.getElementById('again_button').style.display = "none";
                document.getElementById('recomnd_button').style.display = "none";
                document.getElementById('score').style.display = "none";
                document.getElementById('average').style.display = "none";
            }else if(window.location.search.indexOf('wrong') > -1) {
                document.getElementById('recomnd_button').style.display = "none";
                document.getElementById('wrong_button').style.display = "none";
                document.getElementById('score').style.display = "none";
                document.getElementById('average').style.display = "none";
            }else if(window.location.search.indexOf('lesson') > -1) {
                document.getElementById('again_button').style.display = "none";
            }
            if(sessionStorage.getItem('questionId') !== null) {
                this.num = parseInt(sessionStorage.getItem('questionId'));
                if(sessionStorage.getItem('showAnalysis') !== "") {
                    this.show_analysis = sessionStorage.getItem('showAnalysis').split(',').map(Number);
                }
                if(sessionStorage.getItem('wronglist') !== "") {
                    this.wrong_list = sessionStorage.getItem('wronglist').split(',').map(Number);
                }
                if(sessionStorage.getItem('correctlist') !== "") {
                    this.correct_list = sessionStorage.getItem('correctlist').split(',').map(Number);
                }
                this.is_show = parseInt(sessionStorage.getItem("isShow"));
                this.showAlready();
            }
            this.src = window.location.search.substring(5,window.location.search.indexOf('&'));
            if(this.src === "wrong")
                document.getElementById("heading").innerHTML = "错题练习";
            this.id = parseInt(window.location.search.substr(window.location.search.indexOf('id')+3));
            this.setSheet();
        },
    })
</script>