<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>期中评测</title>
    <meta http-equiv="content-type" content="text/html charset=utf-8"/>
    <meta name="viewport" content="width=device-width">
    <link href="/css/term_mid.css" type="text/css" rel="stylesheet" charset="utf-8">
    <link href="/css/index.css" type="text/css" rel="stylesheet" charset="utf-8">
    <link href="/css/antd.css" type="text/css" rel="stylesheet">
    <script src="/js/vue@2.6.10.js"></script>
    <script src="/js/axios@0.18.0.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="http://mockjs.com/dist/mock.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="/js/highcharts-vue.js"></script>
    <script src="/js/antd.js"></script>
</head>
<body>
    <div id="app">
        <div id="bind_win" v-show="ifBind">
            <img style="position: absolute;width: 100%;height: auto;" src="/image/bind.png" @load="() => { this.winShow = true }">
            <img style="position: absolute;width: 28%;height: auto;top: 410px;left: 36%;cursor: pointer;" src="/image/bind_button.png" @click="bind" v-if="winShow">
            <el-input v-model="bindData.orgCode" style="top: 194px;" :disabled="false" prefix-icon="" class="input_bar" v-if="winShow"></el-input>
            <el-input v-model="smtId" style="top: 219px;" :disabled="false" prefix-icon="" class="input_bar" v-if="winShow"></el-input>
            <el-input v-model="bindData.password" style="top: 243px;" :disabled="false" prefix-icon="" class="input_bar" show-password v-if="winShow"></el-input>
        </div>
        <div id="container">
            <div id="bg">
                <img class="image" style="left: 0;" src="/image/bg2.jpg">
            </div>
            <div id="basicInfo">
                <div id="levelInfo">
                    <img class="image" src="/image/blue-bg.png">
                    <div style="position: relative;width: 100%;font-family: 'Microsoft YaHei',微软雅黑;font-weight: 600;">&nbsp;等级/</div>
                    <div style="text-align: center;position: relative;width: 100%;font-family: 'GothamRoundedMedium';top: -4%;font-size: 1.4rem;">Level {{ level }}</div>
                    <button type="button" id="checkLevel" @click="checkLevel"></button>
                </div>
                <div id="classInfo">
                    <img class="image" src="/image/yellow-bg.png">
                    <div style="position: relative;width: 100%;font-family: 'Microsoft YaHei',微软雅黑;font-weight: 600;">&nbsp;课时/</div>
                    <div style="text-align: center;position: relative;width: 100%;font-family: 'GothamRoundedMedium';font-size: 0.8rem;">Week {{ week }} / Lesson {{ lesson }}</div>
                </div>
            </div>
            <div id="diff_table">
                <img  style="height: 100%;width: auto;position: absolute;" :src="diff_pic_src">
            </div>
            <div id="score_detail">
                <img class="image" src="/image/table_bg.jpg">
                <div id="myScore">
                    <img class="image" src="/image/myScore_mid.jpg">
                </div>
                <div id="total_dashbd">
                    <div style="position: absolute;width: 80%;height: 80%;">
                        <img class="image" src="/image/dashbd_mid.png">
                    </div>
                    <div style="font-family: GothamRoundedMedium;font-size: 2rem;font-weight: 600;position: relative;top: 3%;left: 1%;">{{ mid_score_lev[0] }}</div>
                    <div id="red_score">
                        <img class="image" src="/image/red_score.png">
                        <div class="score_text" style="bottom: 0;left: 0;width: 112.71%;height: 63.23%;transform-origin: left bottom;">阅读语法:<span style="font-family: 'GothamRoundedMedium';">{{ mid_score_lev[3] }}</span></div>
                    </div>
                    <div id="yellow_score">
                        <img class="image" src="/image/yellow_score.png">
                        <div class="score_text" style="top: 0;left: 0;width: 116.19%;height: 61.5%;transform-origin:left top;">拼读:<span style="font-family: 'GothamRoundedMedium';">{{ mid_score_lev[2] }}</span></div>
                    </div>
                    <div id="blue_score">
                        <img class="image" src="/image/blue_score.png">
                        <div class="score_text" style="top: 0;left: 0;width: 133.33%;height: 58.39%;transform-origin: left top;">口语:<span style="font-family: 'GothamRoundedMedium';">{{ mid_score_lev[1] }}</span></div>
                    </div>
                </div>
                <div id="speak_dashbd" class="little_dashbd">
                    <div class="square">
                        <img class="image" v-show="mid_score.speak !== 0" src="/image/blue_square.png">
                        <img class="image" v-show="mid_score.speak === 0" src="/image/gray_square.png">
                    </div>
                    <div class="square_text" v-show="mid_score.speak !== 0" style="color: #5a71fb;">{{ mid_score_lev[1] }}</div>
                    <div class="square_text" v-show="mid_score.speak === 0" style="color: #e8e8e8;">{{ mid_score_lev[1] }}</div>
                    <div style="position: absolute;font-size: 12px;font-family: 'Microsoft YaHei';font-weight: 600;transform: scale(0.8);-moz-transform:scale(0.8);top: -18%;left: -14%;color: rgb(158, 158, 160);">口 语</div>
                    <a-progress type="dashboard" :percent="mid_score.speak" :width="45" :stroke-width="11" :gap-degree="20" gap-position="bottom" :show-info="false" :stroke-color="{'100%': '#5a71fb'}"/>
                </div>
                <div id="spell_dashbd" class="little_dashbd">
                    <div class="square">
                        <img class="image" v-show="mid_score.spell !== 0" src="/image/yellow_square.png">
                        <img class="image" v-show="mid_score.spell === 0" src="/image/gray_square.png">
                    </div>
                    <div class="square_text" v-show="mid_score.spell !== 0" style="color: #fe9c37;">{{ mid_score_lev[2] }}</div>
                    <div class="square_text" v-show="mid_score.spell === 0" style="color: #e8e8e8;">{{ mid_score_lev[2] }}</div>
                    <div style="position: absolute;font-size: 12px;font-family: 'Microsoft YaHei';font-weight: 600;transform: scale(0.8);-moz-transform:scale(0.8);top: -18%;left: -14%;color: rgb(158, 158, 160);">拼 读</div>
                    <a-progress type="dashboard" :percent="mid_score.spell" :width="45" :stroke-width="11" :gap-degree="20" gap-position="bottom" :show-info="false" :stroke-color="{'100%': '#fe9c37'}"/>
                </div>
                <div id="grammar_dashbd" class="little_dashbd">
                    <div class="square">
                        <img class="image" v-show="mid_score.grammar !== 0" src="/image/red_square.png">
                        <img class="image" v-show="mid_score.grammer === 0" src="/image/gray_square.png">
                    </div>
                    <div class="square_text" v-show="mid_score.grammar !== 0" style="color: #ff6245;">{{ mid_score_lev[3] }}</div>
                    <div class="square_text" v-show="mid_score.grammar === 0" style="color: #e8e8e8;">{{ mid_score_lev[3] }}</div>
                    <div style="position: absolute;font-size: 12px;font-family: 'Microsoft YaHei';font-weight: 600;transform: scale(0.8);-moz-transform:scale(0.8);top: -18%;left: -17%;color: rgb(158, 158, 160);">阅读语法</div>
                    <a-progress type="dashboard" :percent="mid_score.grammar" :width="45" :stroke-width="11" :gap-degree="20" gap-position="bottom" :show-info="false" :stroke-color="{'100%': '#ff6245'}"/>
                </div>
            </div>
            <div id="record">
                <div style="position: absolute;left: 30%;font-family: 'Microsoft YaHei',微软雅黑;font-weight: 600;">记</div>
                <div style="position: absolute;left: 65%;font-family: 'Microsoft YaHei',微软雅黑;font-weight: 600;">录</div>
            </div>
            <div id="SMTmain">
                <div id="SMARTREE">
                    <img class="image" style="height: 100%;width: auto;position: relative;" src="/image/SMARTREE.png">
                    <div>&nbsp;SMT主课件</div>
                </div>
                <div id="IPTV">
                    <img class="image" style="height: 100%;width: auto;position: relative;" src="/image/IPTV.png">
                    <div>&nbsp;IPTV</div>
                </div>
                <div id="smt_point">
                    <img class="image" src="/image/point.png">
                </div>
                <div id="iptv_point">
                    <img class="image" src="/image/point.png">
                </div>
                <div id="smt_progress_text">{{ finish_lesson }}/{{ total_lesson }}</div>
                <div id="iptv_progress_text">{{ finish_movie }}/{{ total_movie }}</div>
                <el-progress id="smt_progress" color="#247CE0" :stroke-width="3" :format="format" :percentage="finish_lesson*100/total_lesson"></el-progress>
                <el-progress id="iptv_progress" color="#247CE0" :stroke-width="3" :format="format" :percentage="finish_movie*100/total_movie"></el-progress>
                <div id="smt_text"><span style="color: #438AE4;">实际完成课时数</span><span style="color: #5B595A;">/应完成课时数</span></div>
                <div id="iptv_text"><span style="color: #438AE4;">实际完成观影数</span><span style="color: #5B595A;">/应完成观影数</span></div>
                <div id="main_report">
                    <div class="rect1">
                        <img class="image" src="/image/SMTword.png">
                        <el-progress :text-inside="true" :stroke-width="11" :percentage="smt_word*100/smt_word_total" color="white" style="position: absolute;width: 69%;top: 44.5%;left: 14%;"></el-progress>
                        <div style="position: relative;transform-origin: left top;transform: scale(0.7);top: 33%;left: 19%;"><span style="color: red;">{{ smt_word }}</span>/{{ smt_word_total }}</div>
                    </div>
                    <div class="rect2">
                        <img class="image" src="/image/SMTsentence.png">
                        <el-progress :text-inside="true" :stroke-width="11" :percentage="smt_sentence*100/smt_sentence_total" color="white" style="position: absolute;width: 69%;top: 44.5%;left: 14%;"></el-progress>
                        <div style="position: relative;transform-origin: left top;transform: scale(0.7);top: 33%;left: 19%;"><span style="color: red;">{{ smt_sentence }}</span>/{{ smt_sentence_total }}</div>
                    </div>
                    <div class="rect3">
                        <img class="image" src="/image/SMTmovie.png">
                        <el-progress :text-inside="true" :stroke-width="11" :percentage="smt_movie*100/smt_movie_total" color="white" style="position: absolute;width: 69%;top: 44.5%;left: 14%;"></el-progress>
                        <div style="position: relative;transform-origin: left top;transform: scale(0.7);top: 33%;left: 19%;"><span style="color: red;">{{ smt_movie }}</span>/{{ smt_movie_total }}</div>
                    </div>
                </div>
                <button type="button" id="checkTrail" @click="checkTrail"></button>
            </div>
            <div id="library">
                <div style="width: 17%;left: 1.5%;height: 6%;position: absolute;">
                    <img class="image" src="/image/library.png">
                    <div id="blue_circle1">
                        <img class="image" src="/image/blue_circle.png">
                    </div>
                </div>
                <div id="lib_report">
                    <div id="libBook" class="rect4">
                        <img class="image" src="/image/LIBbook.png">
                        <el-progress :text-inside="true" :stroke-width="11" :percentage="lib_book*100/lib_book_total" color="white" style="position: absolute;width: 69%;top: 44.5%;left: 14%;"></el-progress>
                        <div style="position: relative;transform-origin: left top;transform: scale(0.7);top: 33%;left: 19%;"><span style="color: red;">{{ lib_book }}</span>/{{ lib_book_total }}</div>
                    </div>
                    <div id="libHour" class="rect5">
                        <img class="image" src="/image/LIBhour.png">
                        <el-progress :text-inside="true" :stroke-width="11" :percentage="0" color="white" style="position: absolute;width: 69%;top: 44.5%;left: 14%;"></el-progress>
                        <div style="position: relative;transform-origin: left top;transform: scale(0.7);top: 33%;left: 19%;"><span style="color: red;">{{ lib_hour }}</span>h</div>
                    </div>
                </div>
                <div id="book">
                    <div style="position: relative;top: -3%;">当前阅读书本</div>
                    <div id="showBook">
                        <img class="image" src="/image/book_bg2.jpg">
                        <div id="bookImage">
                            <el-carousel :interval="4000" type="card" height="75px" arrow="never" indicator-position="none">
                                <el-carousel-item v-for="url in urls" :key="url">
                                    <img class="image" :src="url">
                                </el-carousel-item>
                            </el-carousel>
                        </div>
                    </div>
                </div>
            </div>
            <div id="readlevel">
                <div style="width: 20%;left: 1.5%;height: 7%;position: absolute;">
                    <img class="image" src="/image/readlevel.png">
                    <div id="blue_circle2">
                        <img class="image" src="/image/blue_circle.png">
                    </div>
                </div>
                <div id="level">
                    <div id="read_info">
                        <img class="image" src="/image/shadow.png">
                        Level 1/100L
                    </div>
                    <div style="width: 25%;height: 6%;;position: absolute;top: 0;left: 0;">
                        <img class="image" src="/image/readLv.png">
                    </div>
                    <div id="read_table">
                        <img class="image" src="/image/table.png">
                        <div id="lv1" v-bind:style="Lv1">
                            <img class="image" src="/image/lv1.png">
                        </div>
                        <div id="lv2" v-bind:style="Lv2">
                            <img class="image" src="/image/lv2.png">
                        </div>
                        <div id="red1" v-bind:style="Red1">
                            <img class="image" :src="red1Src">
                        </div>
                        <div id="red2" v-bind:style="Red2">
                            <img class="image" src="/image/red2.png">
                        </div>
                    </div>
                </div>
            </div>
            <div id="analysis">
                <div style="position: absolute;left: 30%;font-family: 'Microsoft YaHei',微软雅黑;font-weight: 600;">分</div>
                <div style="position: absolute;left: 65%;font-family: 'Microsoft YaHei',微软雅黑;font-weight: 600;">析</div>
            </div>
            <div id="word_part">
                <div id="AI">
                    <img class="image" src="/image/AI.png">
                </div>
                <div id="AI_analysis">
                    <img class="image" src="/image/AI_analysis.png">
                </div>
                <div id="pic_part">
                    <img class="image" src="/image/pic_bg2.png">
                    <div id="word">
                        <img class="image" src="/image/word2.png">
                    </div>
                    <div id="time_avg">
                        <img class="image" src="/image/time_avg2.png">
                        <div style="position: absolute;top: 100%;font-size: 26px;font-family: 'GothamRoundedMedium';color: rgb(255,183,27);">{{ wordData.avgTime }}m</div>
                    </div>
                    <div id="score_word_avg">
                        <img class="image" src="/image/score_word_avg2.jpg">
                        <div style="position: absolute;top: 105%;font-size: 26px;left: 25%;font-family: 'GothamRoundedMedium';color: rgb(104,159,255)">{{ wordData.avgScore }}</div>
                    </div>
                    <div id="word_handle">
                        <img class="image" src="/image/word_handle2.png">
                    </div>
                </div>
                <div id="text_part">
                    <div id="text">
                        在词汇方面，已掌握考点总数为<span style="color: red;font-style: italic;font-weight: 600;font-size: 18px;">{{ wordData.point_handle }}</span> 个，<br>
                        本阶段的平均分为<span style="color: red;font-style: italic;font-weight: 600;font-size: 18px;">{{ wordData.avgScore }}</span>，较上一阶段{{ chinese(wordData.progress) }}了<span style="color: red;font-style: italic;font-weight: 600;font-size: 18px;">{{ Math.abs(wordData.progress) }}</span> %。
                    </div>
                    <div id="show_word_score">
                        <div id="handle_num">&nbsp;{{ wordData.word_unhandle }}</div>
                        <div id="score_avg">&nbsp;{{ wordData.avgScore }}</div>
                        <div id="effect">{{ wordData.progress }}%&nbsp;</div>
                        <img class="image" src="/image/show_score2.png">
                    </div>
                </div>
                <button type="button" id="word_detail" @click="wordDetail"></button>
            </div>
            <div id="paper_part">
                <div id="pic_part2">
                    <img class="image" src="/image/pic_bg2.png">
                    <div id="paper">
                        <img class="image" src="/image/paper2.png">
                    </div>
                    <div id="time_avg2">
                        <img class="image" src="/image/time_avg2.png">
                        <div style="position: absolute;top: 100%;font-size: 26px;font-family: 'GothamRoundedMedium';color: rgb(255,183,27);">{{ paperData.avgTime }}m</div>
                    </div>
                    <div id="score_paper_avg">
                        <img class="image" src="/image/score_paper_avg2.png">
                        <div style="position: absolute;top: 105%;font-size: 26px;left: 25%;font-family: 'GothamRoundedMedium';color: rgb(104,159,255)">{{ paperData.avgScore }}</div>
                    </div>
                    <div id="point_handle">
                        <img class="image" src="/image/point_handle2.png">
                    </div>
                </div>
                <div id="text_part2">
                    <div id="text2">
                        在语法方面，已掌握考点总数为<span style="color: red;font-style: italic;font-weight: 600;font-size: 18px;">{{ paperData.point_handle }}</span> 个，<br>
                        本阶段的平均分为<span style="color: red;font-style: italic;font-weight: 600;font-size: 18px;">{{ paperData.avgScore }}</span>，较上一阶段{{ chinese(paperData.progress) }}了<span style="color: red;font-style: italic;font-weight: 600;font-size: 18px;">{{ Math.abs(paperData.progress) }}</span> %。
                    </div>
                    <div id="show_paper_score">
                        <div id="handle_num2">&nbsp;{{ paperData.point_handle }}</div>
                        <div id="score_avg2">&nbsp;{{ paperData.avgScore }}</div>
                        <div id="effect2">{{ paperData.progress }}%&nbsp;</div>
                        <img class="image" src="/image/show_score.png">
                    </div>
                </div>
                <button type="button" id="paper_detail" @click="paperDetail"></button>
            </div>
            <div id="compare_text">综&nbsp;&nbsp;合&nbsp;&nbsp;分&nbsp;&nbsp;值</div>
            <div id="compare">
                <img id="legend" src="/image/legend_term.jpg">
                <div id="yAxis">
                    <img class="image" src="/image/yAxis.jpg">
                </div>
                <img id="xAxis" src="/image/xAxis_term.jpg">
                <div id="compare_graph">
                    <highcharts :options="chartOptions3" style="width:230px;height:130px;"></highcharts>
                </div>
            </div>
        </div>
        <div id="fullLevel" v-show="isLevelPop">
            <img class="image" :src="fullLev">
        </div>
        <div id="pop_word" v-show="isWordPop">
            <img class="image" src="/image/pop_window2.png">
            <div id="graph1">
                <highcharts :options="chartOptions1" style="width:310px;height:180px;"></highcharts>
            </div>
            <div class="pop_text" id="pop_text1">
                在这两周的学习中，{{ stuName }}小朋友总计做了<span style="color: red;font-style: italic;font-weight: 600;font-size: 18px;">{{ wordData.times }}</span> 次的语音训练，<br>
                总计用时<span style="color: red;font-style: italic;font-weight: 600;font-size: 18px;">{{ wordData.time }}</span> 分钟；平均分为<span style="color: red;font-style: italic;font-weight: 600;font-size: 18px;">{{ wordData.avgScore }}</span> 。
            </div>
            <div id="pop_show_word_score">
                <div id="handle_num3">&nbsp;{{ wordData.word_unhandle }}</div>
                <div id="score_avg3">&nbsp;{{ wordData.avgScore }}</div>
                <div id="effect3">{{ wordData.progress }}%&nbsp;</div>
                <img class="image" src="/image/show_score2.png">
            </div>
            <div id="handle_word_pic">
                <img class="image" src="/image/handle_word4.png">
            </div>
            <div id="handle_word_table">
                <el-table :data="wordComment" height="100%" borderstyle="width: 100%" :row-class-name="tableRowClassName" :header-row-style="{height:'14px',padding:'0'}"  :cell-style="setWordCellStyle" style="font-size: 12px">
                    <el-table-column prop="word" label="单  词" align="center">
                        <template slot-scope="scope">
                            <span style="font-weight:bold;color:black">{{scope.row.word}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="evaluate" label="评  价" align="center">
                        <template slot-scope="scope">
                            <img :src="scope.row.evaluate" alt="" style="width: 17px;height: 17px;vertical-align: middle" />
                        </template>
                    </el-table-column>
                    <el-table-column prop="audio" label="音  频" align="center">
                        <template slot-scope="scope">
                            <img src="/image/audio.png" alt="" style="width: 37px;height: 17px;vertical-align: middle;cursor: pointer;" @click="wordPlay(scope.row.audio)"/>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
        <div id="pop_paper" v-show="isPaperPop">
            <img class="image" src="/image/pop_window2.png">
            <div id="graph2">
                <highcharts :options="chartOptions2" style="width:310px;height:180px;"></highcharts>
            </div>
            <div class="pop_text" id="pop_text2">
                在这两周的学习中，{{ stuName }}小朋友总计做了<span style="color: red;font-style: italic;font-weight: 600;font-size: 16px;">{{ paperData.times }}</span> 次的语法训练，<br>
                总计练习了<span style="color: red;font-style: italic;font-weight: 600;font-size: 16px;">{{ paperData.probNum }}</span> 题,<br>
                其中，基础难度占<span style="color: red;font-style: italic;font-weight: 600;font-size: 16px;">{{ paperData.probEasy }}</span> %；中等难度占<span style="color: red;font-style: italic;font-weight: 600;font-size: 16px;">{{ paperData.probMedium }}</span> %；困难难度占<span style="color: red;font-style: italic;font-weight: 600;font-size: 16px;">{{ paperData.probHard }}</span> %；
            </div>
            <div id="pop_show_paper_score">
                <div id="handle_num4">&nbsp;{{ paperData.point_handle }}</div>
                <div id="score_avg4">&nbsp;{{ paperData.avgScore }}</div>
                <div id="effect4">{{ paperData.progress }}%&nbsp;</div>
                <img class="image" src="/image/show_score.png">
            </div>
            <div id="handle_paper_pic1">
                <img class="image" src="/image/handle_paper2.png">
            </div>
            <div id="handle_paper_pic2">
                <img class="image" src="/image/handle_paper3.jpg">
            </div>
            <div id="handle_paper_table">
                <el-table :data="paperHandle" height="100%" borderstyle="width: 100%" :row-class-name="tableRowClassName" :header-row-style="{height:'14px',padding:'0'}"  :cell-style="setPaperCellStyle" style="font-size: 12px">
                    <el-table-column prop="handle_paper" align="center">
                        <template slot-scope="scope">
                            <span style="font-weight:bold;color:black">{{scope.row.handle_paper}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="unhandle_paper" align="center">
                        <template slot-scope="scope">
                            <span style="font-weight:bold;color:black">{{scope.row.unhandle_paper}}</span>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
    </div>
</body>
<script>
    Vue.use(HighchartsVue.default);
    //Vue.use(Antd);
    /*$(document).ready(function(){
        $(window).resize(function() {
            var cliWidth = document.body.scrollWidth;
            var cliHeight = document.body.scrollHeight;
            $('#app').css("transform-origin","0 0");
            $('#app').css("transform","scale(" + (cliHeight / 2386.5) + ")");
            $('#app').css("margin-left",( document.body.scrollWidth - 450) / 2 );
        });
    });*/

    Mock.mock('/getSmtId',{
        "smtId": ''
    })

    $(document).mouseup(function(e){
        var popPaper = $('#pop_paper');  
        var popWord = $('#pop_word'); 
        var fullLev = $('#fullLevel'); 
        if((!popPaper.is(e.target) && popPaper.has(e.target).length === 0) && app.isPaperPop === true){
            app.isPaperPop = false;
            app.isPop = false; 
            document.getElementById("container").style.filter = "brightness(1)";
        }
        if((!popWord.is(e.target) && popWord.has(e.target).length === 0) && app.isWordPop === true) {
            app.isWordPop = false;
            app.isPop = false; 
            document.getElementById("container").style.filter = "brightness(1)";
        }
        if((!fullLev.is(e.target) && fullLev.has(e.target).length === 0) && app.isLevelPop === true) {
            app.isLevelPop = false;
            app.isPop = false; 
            document.getElementById("container").style.filter = "brightness(1)";
        }
    });

    window.onscroll = function() {
        if (/(iPhone|iPad|iPod|iOS|Android)/i.test(navigator.userAgent)) {
            var deviceWidth = document.documentElement.clientWidth;
            var deviceHeight = document.documentElement.clientHeight;
            deviceWidth = (deviceWidth < deviceHeight) ? deviceWidth : deviceHeight;
            var scale = deviceWidth / 450;
            var percent = (document.documentElement.clientHeight * 100 / (document.getElementById("app").clientHeight * scale) - 18) / 2;
            percent += (document.documentElement.scrollTop / (document.getElementById("app").clientHeight * scale)) * 100;
            document.getElementById("bind_win").style.top = percent + "%";
        }else {
            var deviceWidth = document.documentElement.clientWidth;
            var scale = deviceWidth / 1350;
            var percent = (document.documentElement.clientHeight * 100 / (document.getElementById("app").clientHeight * scale) - 18) / 2;
            percent += (document.documentElement.scrollTop / (document.getElementById("app").clientHeight * scale)) * 100;
            document.getElementById("bind_win").style.top = percent + "%";
        }
    };

    window.addEventListener("orientationchange",() => {
        if (/(iPhone|iPad|iPod|iOS|Android)/i.test(navigator.userAgent)) {
            var deviceWidth = document.documentElement.clientWidth;
            var deviceHeight = document.documentElement.clientHeight;
            deviceWidth = (deviceWidth < deviceHeight) ? deviceWidth : deviceHeight;
            document.getElementById("app").style.transformOrigin = "center top";
            document.getElementById("app").style.transform = "scale(" + (deviceWidth / 450) + ")";
        }
    });

    var app = new Vue({
        el: "#app",
        data: {
            winShow: false,
            bgShow: false,
            level: 1,
            week: 1,
            lesson: 1,
            readLev: 1,
            readNum: 100,
            smt_word: 0,
            smt_sentence: 0,
            smt_movie: 0,
            lib_book: 0,
            lib_hour: 0,
            smt_word_total: 266,
            smt_sentence_total: 200,
            smt_movie_total: 48,
            finish_lesson: 0,
            total_lesson: 4,
            finish_movie: 0,
            total_movie: 4,
            isPop: false,
            isWordPop: false,
            isPaperPop: false,
            isLevelPop: false,
            ifBind: false,
            stuName: '小王',
            smtId: '1111',
            urls: [
            ],
            mid_score: {
                total: 0,
                speak: 0,
                spell: 0,
                grammar: 0
            },
            wordData: {
                time: 0,
                times: 0,
                avgScore: 0,
                avgTime: 0,
                point_handle: 0,
                word_unhandle: 0,
                progress: 0,
            },
            paperData: {
                times: 0,
                probNum: 0,
                probEasy: 0,
                probMedium: 0,
                probHard: 0,
                avgScore: 0,
                avgTime: 0,
                point_handle: 0,
                progress: 0,
            },
            wordComment: [{word: 'alligator',evaluate: '/image/evaluate1.png',audio: ''},{word: 'alligator',evaluate: '/image/evaluate2.png',audio: ''},{word: 'alligator',evaluate: '/image/evaluate3.png',audio: ''}],
            paperHandle: [{handle_paper: 'DD',unhandle_paper: 'AA'},{handle_paper: 'EE',unhandle_paper: 'BB'},{handle_paper: 'FF',unhandle_paper: 'CC'}],
            chartOptions1: {
                chart: {
                    type: 'areaspline'
                },
                title: {
                    text: null
                },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                
                xAxis: {
                    categories: [1,2,3,4,5,6,7,8,9,10]
                },
                yAxis: {
                    min: 0,
                    max: 100,
                    tickAmount: 6,
                    title: {
                        text: null
                    },
                },
                tooltip: {
                    enabled: true,
                    shared: true,
                    padding: 8,
                    formatter: function () {
                        return '<span style="color: {series.color}">Score:' + this.y + '</span>';
                    },
                },
                plotOptions: {
                    areaspline: {
                        marker: {
                            enabled:false,
                            radius: 7,
                            fillColor: 'white',
                            lineColor: 'rgb(254, 156, 55)',
                            lineWidth: 4
                        },
                        states: {
                            hover: {
                                enabled: true
                            }
                        },
                        fillColor: {
                            linearGradient: [0, 0, 0, 150],
                            stops: [
                                [0, 'rgba(254, 156, 55, 0.664)'],
                                [0.8, 'white']
                            ]
                        }
                    }
                },
                series: [{
                    name: '',
                    color: 'rgb(254, 156, 55)',
                    marker: {
                        symbol: 'circle'
                    },
                    lineWidth: 3,
                    data: [10, 20, 30, 35, 44, 50, 58, 65, 80, 75]
                }]
            },
            chartOptions2: {
                chart: {
                    type: 'areaspline'
                },
                title: {
                    text: null
                },
                credits: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                
                xAxis: {
                    categories: [1,2,3,4,5,6,7,8,9,10]
                },
                yAxis: {
                    min: 0,
                    max: 100,
                    tickAmount: 6,
                    title: {
                        text: null
                    },
                },
                tooltip: {
                    enabled: true,
                    shared: true,
                    padding: 8,
                    formatter: function () {
                        return '<span style="color: {series.color}">Score:' + this.y + '</span>';
                    },
                },
                plotOptions: {
                    areaspline: {
                        marker: {
                            enabled:false,
                            radius: 7,
                            fillColor: 'white',
                            lineColor: 'rgb(254, 156, 55)',
                            lineWidth: 4
                        },
                        states: {
                            hover: {
                                enabled: true
                            }
                        },
                        fillColor: {
                            linearGradient: [0, 0, 0, 150],
                            stops: [
                                [0, 'rgba(254, 156, 55, 0.664)'],
                                [0.8, 'white']
                            ]
                        }
                    }
                },
                series: [{
                    name: '',
                    color: 'rgb(254, 156, 55)',
                    marker: {
                        symbol: 'circle'
                    },
                    lineWidth: 3,
                    data: [10, 20, 30, 35, 44, 50, 58, 65, 80, 75]
                }]
            },
            chartOptions3: {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: null
                },
                credits: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                legend: {
                    enabled: false
                },
                xAxis: {
                    categories: [0,1,2,3,4],
                    labels: {
                        enabled: false
                    },
                    gridLineWidth: 1,
                    gridLineDashStyle: 'shortdash',
                    tickmarkPlacement: 'on',
                    lineWidth: 1
                },
                yAxis: {
                    tickPositions: [0,10,20,30,40,50,60],
                    title: {
                        text: null
                    },
                    labels: {
                        enabled: false
                    }
                },
                tooltip: {
                    enabled: false,
                },
                plotOptions: {
                    spline: {
                        marker: {
                            radius: 2,
                            fillColor: 'white',
                            lineWidth: 1
                        },
                        states: {
                            hover: {
                                enabled: false
                            }
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: '',
                    marker: {
                        symbol: 'circle',
                        lineColor: '#FD9732'
                    },
                    lineColor: '#FD9732',
                    lineWidth: 1,
                    data: [48, 100, 72, 84, 91]
                },{
                    name: '',
                    marker: {
                        symbol: 'circle',
                        lineColor: '#C7C7C7'
                    },
                    lineColor: '#C7C7C7',
                    lineWidth: 1,
                    data: [75, 64, 83, 96, 77]
                }]
            },
            bindData: {
                orgCode: '',
                smtId: '',
                password: '',
            },
        },
        computed: {
            fullLev() {
                if(this.level === 1) {
                    return "/image/fullLev2_1.png";
                }else if(this.level === 2) {
                    return "/image/fullLev2_2.png";
                }else if(this.level === 3) {
                    return "/image/fullLev2_3.png";
                }else if(this.level === 4) {
                    return "/image/fullLev2_4.png";
                }else if(this.level === 5) {
                    return "/image/fullLev2_5.png";
                }else if(this.level === 6) {
                    return "/image/fullLev2_6.png";
                }
            },
            diff_pic_src() {
                if(this.level === 1) {
                    return "/image/diff1_term.png";
                }else if(this.level === 2) {
                    return "/image/diff2_term.png";
                }else if(this.level === 3) {
                    return "/image/diff3_term.png";
                }else if(this.level === 4) {
                    return "/image/diff4_term.png";
                }else if(this.level === 5) {
                    return "/image/diff5_term.png";
                }else if(this.level === 6) {
                    return "/image/diff6_term.png";
                }
            },
            lib_book_total() {
                if(this.readLev === 1) {
                    return 163;
                }else if(this.readLev === 2) {
                    return 178;
                }else if(this.readLev === 3) {
                    return 145;
                }else if(this.readLev === 4) {
                    return 137;
                }else if(this.readLev === 5) {
                    return 160;
                }else if(this.readLev === 6) {
                    return 115;
                }else if(this.readLev === 7) {
                    return 111;
                }
            },
            Lv1() {
                var cls = {};
                if(this.readLev === 1) {
                    cls.top = '15%';
                    cls.left = '12.1%';
                }else if(this.readLev === 2) {
                    cls.top = '18.5%';
                    cls.left = '24.6%';
                }else if(this.readLev === 3) {
                    cls.top = '13%';
                    cls.left = '37.2%';
                }else if(this.readLev === 4) {
                    cls.top = '8.5%';
                    cls.left = '49.6%';
                }else if(this.readLev === 5) {
                    cls.top = '2%';
                    cls.left = '62.2%';
                }else if(this.readLev === 6) {
                    cls.top = '-3.5%';
                    cls.left = '74.7%';
                }else if(this.readLev === 7) {
                    cls.top = '-10.5%';
                    cls.left = '87.2%';
                }
                return cls;
            },
            Lv2() {
                var cls = {};
                if(this.readLev === 1) {
                    cls.left = '12.1%';
                }else if(this.readLev === 2) {
                    cls.left = '24.6%';
                }else if(this.readLev === 3) {
                    cls.left = '37.2%';
                }else if(this.readLev === 4) {
                    cls.left = '49.5%';
                }else if(this.readLev === 5) {
                    cls.left = '62%';
                }else if(this.readLev === 6) {
                    cls.left = '74.7%';
                }else if(this.readLev === 7) {
                    cls.left = '87.2%';
                }
                return cls;
            },
            red1Src() {
                if(this.readLev === 1) {
                    return "/image/red1_1.png";
                }else if(this.readLev === 2) {
                    return "/image/red1_2.png";
                }else if(this.readLev === 3) {
                    return "/image/red1_3.png";
                }else if(this.readLev === 4) {
                    return "/image/red1_4.png";
                }else if(this.readLev === 5) {
                    return "/image/red1_5.png";
                }else if(this.readLev === 6) {
                    return "/image/red1_6.png";
                }else if(this.readLev === 7) {
                    return "/image/red1_7.png";
                }
            },
            Red1() {
                var cls = {};
                if(this.readLev === 1) {
                    cls.height = '31%';
                    cls.left = '12.6%';
                }else if(this.readLev === 2) {
                    cls.height = '37%';
                    cls.left = '25.1%';
                }else if(this.readLev === 3) {
                    cls.height = '42%';
                    cls.left = '37.6%';
                }else if(this.readLev === 4) {
                    cls.height = '47%';
                    cls.left = '50.1%';
                }else if(this.readLev === 5) {
                    cls.height = '54%';
                    cls.left = '62.6%';
                }else if(this.readLev === 6) {
                    cls.height = '59%';
                    cls.left = '75.1%';
                }else if(this.readLev === 7) {
                    cls.height = '66%';
                    cls.left = '87.6%';
                }
                return cls;
            },
            Red2() {
                var cls = {};
                if(this.readLev === 1) {
                    cls.left = '12.6%';
                }else if(this.readLev === 2) {
                    cls.left = '25.1%';
                }else if(this.readLev === 3) {
                    cls.left = '37.6%';
                }else if(this.readLev === 4) {
                    cls.left = '50.1%';
                }else if(this.readLev === 5) {
                    cls.left = '62.6%';
                }else if(this.readLev === 6) {
                    cls.left = '75.1%';
                }else if(this.readLev === 7) {
                    cls.left = '87.6%';
                }
                return cls;
            },
            mid_score_lev() {
                var mid_score_lev = [this.mid_score.total,this.mid_score.speak,this.mid_score.spell,this.mid_score.grammar];
                if(mid_score_lev[0] >= 95) {
                    mid_score_lev[0] = 'A+';
                }else if(mid_score_lev[0] >= 90) {
                    mid_score_lev[0] = 'A';
                }else if(mid_score_lev[0] >= 85) {
                    mid_score_lev[0] = 'B+';
                }else if(mid_score_lev[0] >= 80) {
                    mid_score_lev[0] = 'B';
                }else if(mid_score_lev[0] >= 75) {
                    mid_score_lev[0] = 'C+';
                }else if(mid_score_lev[0] >= 70) {
                    mid_score_lev[0] = 'C';
                }else if(mid_score_lev[0] >= 65) {
                    mid_score_lev[0] = 'D+';
                }else if(mid_score_lev[0] >= 60) {
                    mid_score_lev[0] = 'D';
                }else {
                    mid_score_lev[0] = 'E';
                }
                for (i = 1;i < mid_score_lev.length;i++) {
                    if(mid_score_lev[i] >= 95) {
                        mid_score_lev[i] = 'A+';
                    }else if(mid_score_lev[i] >= 90) {
                        mid_score_lev[i] = ' A';
                    }else if(mid_score_lev[i] >= 85) {
                        mid_score_lev[i] = 'B+';
                    }else if(mid_score_lev[i] >= 80) {
                        mid_score_lev[i] = ' B';
                    }else if(mid_score_lev[i] >= 75) {
                        mid_score_lev[i] = 'C+';
                    }else if(mid_score_lev[i] >= 70) {
                        mid_score_lev[i] = ' C';
                    }else if(mid_score_lev[i] >= 65) {
                        mid_score_lev[i] = 'D+';
                    }else if(mid_score_lev[i] >= 60) {
                        mid_score_lev[i] = ' D';
                    }else if(mid_score_lev[i] != 0) {
                        mid_score_lev[i] = ' E';
                    }else {
                        mid_score_lev[i] = ' 无';
                    }
                }
                return mid_score_lev;
            }
        },
        methods: {
            format() {
                return '';
            },

            chinese(num) {
                if(num > 0)
                    return "提升";
                else 
                    return "下降";
            },

            tableRowClassName: function ({row, rowIndex}) {
                if ((rowIndex % 2) !== 0) {
                    return 'white_row';
                } else {
                    return 'grey_row';
                }
            },

            setWordCellStyle : function ({column, columnIndex}) {
                if(columnIndex === 0) {
                    return 'padding: 4px 0;borderRadius: 6px 0 0 6px';
                }else if(columnIndex === 1) {
                    return 'padding: 4px 0;borderRadius: 0 0 0 0';
                }else {
                    return 'padding: 4px 0;borderRadius: 0 6px 6px 0';
                }
            },

            setPaperCellStyle : function ({column, columnIndex}) {
                if(columnIndex === 0) {
                    return 'padding: 4px 0;borderRadius: 6px 0 0 6px';
                }else {
                    return 'padding: 4px 0;borderRadius: 0 6px 6px 0';
                }
            },

            wordPlay: function (url) {
                alert(url);
            },

            checkTrail: function () {
                this.isPop = true;
                document.getElementById("container").style.filter = "brightness(0.8)";
            },

            checkLevel: function () {
                this.isLevelPop = true;
                this.isPop = true;
                document.getElementById("container").style.filter = "brightness(0.8)";
            },

            wordDetail: function () {
                this.isWordPop = true;
                this.isPop = true;
                document.getElementById("container").style.filter = "brightness(0.8)";
            },

            paperDetail: function () {
                this.isPaperPop = true;
                this.isPop = true;
                document.getElementById("container").style.filter = "brightness(0.8)";
            },

            CmpGraphPretreat: function (array) {
                for(var i = 0;i < array.length;i++) {
                    if(array[i] < 60)
                        array[i] = array[i] * 10 / 60;
                    else if(array[i] < 65)
                        array[i] = 10 + 10 * ((array[i] - 60) / 5);
                    else if(array[i] < 75)
                        array[i] = 20 + 10 * ((array[i] - 65) / 10);
                    else if(array[i] < 85)
                        array[i] = 30 + 10 * ((array[i] - 75) / 10);
                    else if(array[i] < 95)
                        array[i] = 40 + 10 * ((array[i] - 85) / 10);
                    else
                        array[i] = 50 + 10 * ((array[i] - 95) / 5);
                }
                return array;
            },

            getSMTbind: function () {
                return new Promise(resolve => {
                    axios.get("/getSmtId").then((response) => {
                        resolve(response.data.smtId);
                    })
                })
            },

            getSMTId: async function () {
                this.smtId = await this.getSMTbind();
                if(this.smtId.length === 0) {
                    this.ifBind = true;
                    if (/(iPhone|iPad|iPod|iOS|Android)/i.test(navigator.userAgent)) {
                        var deviceWidth = document.documentElement.clientWidth;
                        var deviceHeight = document.documentElement.clientHeight;
                        deviceWidth = (deviceWidth < deviceHeight) ? deviceWidth : deviceHeight;
                        document.getElementById("bind_win").style.top = (document.documentElement.clientHeight * 100 / (document.getElementById("app").clientHeight * deviceWidth / 450) - 18) / 2 + "%";
                    }else {
                        var deviceWidth = document.documentElement.clientWidth;
                        document.getElementById("bind_win").style.top = (document.documentElement.clientHeight * 100 / (document.getElementById("app").clientHeight * deviceWidth / 1350) - 18) / 2 + "%";
                    }
                    document.getElementById("container").style.filter = "blur(15px)";
                }else {
                    sessionStorage.setItem('smtId',this.smtId);
                    //根据smtId调用函数获取数据
                }
            },

            bind: function () {
                this.bindData.smtId = this.smtId;
                console.log(this.bindData.orgCode + '  ' + this.bindData.smtId + '  ' + this.bindData.password);
                this.ifBind = false;

                this.level = 2;
                this.week = 2;
                this.lesson = 2;
                this.readLev = 2;
                this.readNum = 1000;
                this.smt_word = 10;
                this.smt_sentence = 10;
                this.smt_movie = 10;
                this.lib_book = 10;
                this.lib_hour = 10;
                this.finish_lesson = 2;
                this.finish_movie = 2;
                this.stuName = 'Messi';
                this.urls = [
                    '/image/test1.jpg',
                    '/image/test2.jpg',
                    '/image/test3.jpg',
                    '/image/test4.jpg',
                    '/image/test5.jpg',
                ];
                this.wordData = {
                    time: 10,
                    times: 10,
                    avgScore: 10,
                    avgTime: 10,
                    point_handle: 10,
                    word_unhandle: 10,
                    progress: 10,
                };
                this.paperData = {
                    times: 10,
                    probNum: 10,
                    probEasy: 10,
                    probMedium: 10,
                    probHard: 10,
                    avgScore: 10,
                    avgTime: 10,
                    point_handle: 10,
                    progress: 10,
                };
                this.mid_score = {
                    total: 85,
                    speak: 0,
                    spell: 95,
                    grammar: 80
                };


                document.getElementById("container").style.filter = "blur(0px)";
                axios.post("/bind", $.param(this.bindData)  
                ).then((response) => {
                    ;
                });
            },

            getInit: function () {
                return new Promise(resolve => {
                    axios.get("/init"
                    ).then((response) => {
                        resolve(response.data.info);
                    })
                })
            },
            
            getWeeklyInfo: function () {
                return new Promise(resolve => {
                    axios.get("/getInfo"
                    ).then((response) => {
                        resolve(response.data.info);
                    })
                })
            },

            getWeeklyScore: function () {
                return new Promise(resolve => {
                    axios.get("/getScore"
                    ).then((response) => {
                        resolve(response.data.info);
                    })
                })
            },
        },
        created: function () {
            if (/(iPhone|iPad|iPod|iOS|Android)/i.test(navigator.userAgent)) {
                var deviceWidth = document.documentElement.clientWidth;
                var deviceHeight = document.documentElement.clientHeight;
                deviceWidth = (deviceWidth < deviceHeight) ? deviceWidth : deviceHeight;
                document.getElementById("app").style.transformOrigin = "center top";
                document.getElementById("app").style.transform = "scale(" + (deviceWidth / 450) + ")";
            }else {
                var deviceWidth = document.documentElement.clientWidth;
                document.getElementById("app").style.transformOrigin = "center top";
                document.getElementById("app").style.transform = "scale(" + (deviceWidth / (450 * 3)) + ")";
            }

            if(sessionStorage.getItem('smtId') === null) {
                this.getSMTId();
            }else {
                //根据smtId调用函数获取数据
            }
            
            document.getElementById("smt_point").style.left = (157 * this.finish_lesson / this.total_lesson + 6) + "px";
            document.getElementById("iptv_point").style.left = (99 * this.finish_lesson / this.total_lesson + 217) + "px";
            document.getElementById("smt_progress_text").style.left = (157 * this.finish_lesson / this.total_lesson + 6) + "px";
            document.getElementById("iptv_progress_text").style.left = (99 * this.finish_lesson / this.total_lesson + 217) + "px";
            this.chartOptions3.series[0].data = this.CmpGraphPretreat(this.chartOptions3.series[0].data);
            this.chartOptions3.series[1].data = this.CmpGraphPretreat(this.chartOptions3.series[1].data);
        }
    })
</script>